### CONFIGIGURACION

In [4]:
#para evitar posibles errores en el codigo:
import warnings
warnings.filterwarnings("ignore")

In [1]:
! python -m venv Entorno_proyect_final

In [5]:
! .\venv Entorno_proyect_final\Scripts\Activate

".\venv" no se reconoce como un comando interno o externo,
programa o archivo por lotes ejecutable.

In [4]:
#para actualizar las librerias en el txt.
! pip freeze > .\requerimientos.txt

In [5]:
! pip freeze

asttokens==2.4.1
colorama==0.4.6
comm==0.2.2
contourpy==1.3.0
cycler==0.12.1
debugpy==1.8.6
decorator==5.1.1
executing==2.1.0
fonttools==4.54.1
ipykernel==6.29.5
ipython==8.27.0
jedi==0.19.1
jupyter_client==8.6.3
jupyter_core==5.7.2
kiwisolver==1.4.7
matplotlib==3.9.2
matplotlib-inline==0.1.7
nest-asyncio==1.6.0
numpy==2.1.1
packaging==24.1
pandas==2.2.3
parso==0.8.4
pillow==10.4.0
platformdirs==4.3.6
prompt_toolkit==3.0.48
psutil==6.0.0
pure_eval==0.2.3
Pygments==2.18.0
pyparsing==3.1.4
python-dateutil==2.9.0.post0
pytz==2024.2
pywin32==306
pyzmq==26.2.0
seaborn==0.13.2
six==1.16.0
stack-data==0.6.3
tornado==6.4.1
traitlets==5.14.3
tzdata==2024.2
wcwidth==0.2.13

In [ ]:
#instalacion de librerias y dependencias.
#! pip install -r .\requerimientos.txt

In [7]:
# Carga de librerias opcional desde aqui o desde los puntos desarrollados en los avances.
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [8]:
# Obtener el directorio de trabajo actual ( este paso si es necesario)
directorio_actual = os.getcwd()
print(f"Directorio de trabajo actual: {directorio_actual}")

Directorio de trabajo actual: c:\Users\beren\Desktop\HENRRY\G4_Inventory

### SQL SERVER

In [2]:
# en la notepad que se abrira hay que colocar:
''' 
DB_USER= "..."
DB_NAME= "..."
DB_HOST=localhost
DB_PASSWORD=mi_contraseña_secreta
DB_PORT=1433 '''

! notepad .env

In [ ]:
from sqlalchemy import create_engine
from dotenv import load_dotenv

# Cargar las variables de entorno desde el archivo .env
load_dotenv()

# Obtener las variables de entorno
password = os.getenv("DB_PASSWORD")
server = os.getenv("DB_HOST")
database = os.getenv("DB_NAME")
user = os.getenv("DB_USER")

# Crear la URI de conexión para SQL Server con SQLAlchemy y pyodbc
connection_uri = f"mssql+pyodbc://{user}:{password}@{server}/{database}?driver=ODBC+Driver+17+for+SQL+Server"

# Crear el motor de conexión
engine = create_engine(connection_uri)

In [2]:
import os
from sqlalchemy import create_engine
from dotenv import load_dotenv

# Cargar las variables de entorno desde el archivo .env
load_dotenv()

# Obtener las variables de entorno
server = os.getenv("DB_HOST")
database = os.getenv("DB_NAME")

# Crear la URI de conexión con autenticación integrada de Windows
connection_uri = f"mssql+pyodbc://@{server}/{database}?driver=ODBC+Driver+17+for+SQL+Server&Trusted_Connection=yes"

# Crear el motor de conexión
engine = create_engine(connection_uri)

In [3]:
import os
from sqlalchemy import create_engine
from dotenv import load_dotenv

# Cargar las variables de entorno desde el archivo .env
load_dotenv()

# Obtener las variables de entorno
server = os.getenv("DB_HOST")
database = os.getenv("DB_NAME")
user = os.getenv("DB_USER")

# Crear la URI de conexión sin contraseña
connection_uri = f"mssql+pyodbc://{user}@{server}/{database}?driver=ODBC+Driver+17+for+SQL+Server"

# Crear el motor de conexión
engine = create_engine(connection_uri)

In [ ]:
# Leer la tabla Conductores en un DataFrame de Pandas con una consulta SQL
df_conductores = pd.read_sql_query(
    sql="SELECT * FROM Conductores WHERE id_conductor < 19;", 
    con=engine
)

# Leer otras tablas en DataFrames
df_usuarios = pd.read_sql_table(
    table_name="usuarios",
    con=engine
)

df_vehiculos = pd.read_sql_table(
    table_name="vehiculos",
    con=engine
)

df_viajes = pd.read_sql_table(
    table_name="viajes",
    con=engine
)

# Mostrar uno de los DataFrames
print(df_conductores)

In [ ]:
# Consulta SQL
query = """
SELECT U.Fecha_Registro, COUNT(V.ID_Viaje) as Num_Viajes
FROM Usuarios U
JOIN Viajes V ON U.ID_Usuario = V.ID_Usuario
GROUP BY U.Fecha_Registro
ORDER BY U.Fecha_Registro;
"""

# Cargar los resultados en un DataFrame
df = pd.read_sql_query(query, engine)
df

### Apertura de la data

In [21]:
# Construir la ruta completa al archivo
ruta_archivo = os.path.join(directorio_actual,r"archive\2017PurchasePricesDec.csv" )

precios_compra_dic = pd.read_csv(ruta_archivo, nrows=10)

# Mostrar las primeras 5 filas
precios_compra_dic

,Brand,Description,Price,Size,Volume,Classification,PurchasePrice,VendorNumber,VendorName
0,58,Gekkeikan Black & Gold Sake,12.99,750mL,750,1,9.28,8320,SHAW ROSS INT L IMP LTD
1,62,Herradura Silver Tequila,36.99,750mL,750,1,28.67,1128,BROWN-FORMAN CORP
2,63,Herradura Reposado Tequila,38.99,750mL,750,1,30.46,1128,BROWN-FORMAN CORP
3,72,No. 3 London Dry Gin,34.99,750mL,750,1,26.11,9165,ULTRA BEVERAGE COMPANY LLP
4,75,Three Olives Tomato Vodka,14.99,750mL,750,1,10.94,7245,PROXIMO SPIRITS INC.
5,77,Three Olives Espresso Vodka,12.99,750mL,750,1,10.39,7245,PROXIMO SPIRITS INC.
6,79,Three Olives Loopy Vodka,14.99,750mL,750,1,9.62,7245,PROXIMO SPIRITS INC.
7,115,Belvedere Vodka,27.99,1000mL,1000,1,21.37,8112,MOET HENNESSY USA INC
8,126,Grey Goose Vodka,32.99,1000mL,1000,1,20.14,480,BACARDI USA INC
9,168,Three Olives Strawberry,12.99,750mL,750,1,8.95,7245,PROXIMO SPIRITS INC.

In [22]:
# Construir la ruta completa al archivo
ruta_archivo = os.path.join(directorio_actual,r"archive\BegInvFINAL12312016.csv" )

Inicio_Invivierno_FINAL = pd.read_csv(ruta_archivo, nrows=10)

# Mostrar las primeras 5 filas

Inicio_Invivierno_FINAL

,InventoryId,Store,City,Brand,Description,Size,onHand,Price,startDate
0,1_HARDERSFIELD_58,1,HARDERSFIELD,58,Gekkeikan Black & Gold Sake,750mL,8,12.99,2016-01-01
1,1_HARDERSFIELD_60,1,HARDERSFIELD,60,Canadian Club 1858 VAP,750mL,7,10.99,2016-01-01
2,1_HARDERSFIELD_62,1,HARDERSFIELD,62,Herradura Silver Tequila,750mL,6,36.99,2016-01-01
3,1_HARDERSFIELD_63,1,HARDERSFIELD,63,Herradura Reposado Tequila,750mL,3,38.99,2016-01-01
4,1_HARDERSFIELD_72,1,HARDERSFIELD,72,No. 3 London Dry Gin,750mL,6,34.99,2016-01-01
5,1_HARDERSFIELD_75,1,HARDERSFIELD,75,Three Olives Tomato Vodka,750mL,18,14.99,2016-01-01
6,1_HARDERSFIELD_77,1,HARDERSFIELD,77,Three Olives Espresso Vodka,750mL,7,14.99,2016-01-01
7,1_HARDERSFIELD_79,1,HARDERSFIELD,79,Three Olives Loopy Vodka,750mL,2,14.99,2016-01-01
8,1_HARDERSFIELD_115,1,HARDERSFIELD,115,Belvedere Vodka,Liter,5,27.99,2016-01-01
9,1_HARDERSFIELD_120,1,HARDERSFIELD,120,Tarantula Azul Tequila Gift,750mL,11,13.99,2016-01-01

In [15]:
# Construir la ruta completa al archivo
ruta_archivo = os.path.join(directorio_actual,r"archive\EndInvFINAL12312016.csv" )

final_INV_Final = pd.read_csv(ruta_archivo, nrows=10)

# Mostrar las primeras 5 filas

final_INV_Final

,InventoryId,Store,City,Brand,Description,Size,onHand,Price,endDate
0,1_HARDERSFIELD_58,1,HARDERSFIELD,58,Gekkeikan Black & Gold Sake,750mL,11,12.99,2016-12-31
1,1_HARDERSFIELD_62,1,HARDERSFIELD,62,Herradura Silver Tequila,750mL,7,36.99,2016-12-31
2,1_HARDERSFIELD_63,1,HARDERSFIELD,63,Herradura Reposado Tequila,750mL,7,38.99,2016-12-31
3,1_HARDERSFIELD_72,1,HARDERSFIELD,72,No. 3 London Dry Gin,750mL,4,34.99,2016-12-31
4,1_HARDERSFIELD_75,1,HARDERSFIELD,75,Three Olives Tomato Vodka,750mL,7,14.99,2016-12-31
5,1_HARDERSFIELD_77,1,HARDERSFIELD,77,Three Olives Espresso Vodka,750mL,18,14.99,2016-12-31
6,1_HARDERSFIELD_79,1,HARDERSFIELD,79,Three Olives Loopy Vodka,750mL,7,14.99,2016-12-31
7,1_HARDERSFIELD_115,1,HARDERSFIELD,115,Belvedere Vodka,Liter,35,27.99,2016-12-31
8,1_HARDERSFIELD_126,1,HARDERSFIELD,126,Grey Goose Vodka,Liter,36,29.99,2016-12-31
9,1_HARDERSFIELD_159,1,HARDERSFIELD,159,Glenmorangie Original VAP,750mL + 2/,8,34.99,2016-12-31

In [16]:
# Construir la ruta completa al archivo
ruta_archivo = os.path.join(directorio_actual,r"archive\InvoicePurchases12312016.csv" )

Factura_Compras= pd.read_csv(ruta_archivo, nrows=10)

# Mostrar las primeras 5 filas

Factura_Compras

,VendorNumber,VendorName,InvoiceDate,PONumber,PODate,PayDate,Quantity,Dollars,Freight,Approval
0,105,ALTAMAR BRANDS LLC,2016-01-04,8124,2015-12-21,2016-02-16,6,214.26,3.47,NaN
1,4466,AMERICAN VINTAGE BEVERAGE,2016-01-07,8137,2015-12-22,2016-02-21,15,140.55,8.57,NaN
2,388,ATLANTIC IMPORTING COMPANY,2016-01-09,8169,2015-12-24,2016-02-16,5,106.60,4.61,NaN
3,480,BACARDI USA INC,2016-01-12,8106,2015-12-20,2016-02-05,10100,137483.78,2935.20,NaN
4,516,BANFI PRODUCTS CORP,2016-01-07,8170,2015-12-24,2016-02-12,1935,15527.25,429.20,NaN
5,2396,BLACK PRINCE DISTILLERY INC,2016-01-08,8191,2015-12-25,2016-02-06,23,234.83,2.30,NaN
6,1128,BROWN-FORMAN CORP,2016-01-09,8150,2015-12-23,2016-02-19,4684,65403.57,1808.77,NaN
7,1189,BULLY BOY DISTILLERS,2016-01-09,8171,2015-12-24,2016-02-04,6,132.30,5.29,NaN
8,1273,CALEDONIA SPIRITS INC,2016-01-06,8172,2015-12-24,2016-02-15,5,146.80,15.53,NaN
9,11567,CAMPARI AMERICA,2016-01-06,8151,2015-12-23,2016-02-20,1321,12039.71,398.71,NaN

In [17]:
# Construir la ruta completa al archivo
ruta_archivo = os.path.join(directorio_actual,r"archive\PurchasesFINAL12312016.csv" )

Compras_Finales = pd.read_csv(ruta_archivo, nrows=10)

# Mostrar las primeras 5 filas

Compras_Finales

,InventoryId,Store,Brand,Description,Size,VendorNumber,VendorName,PONumber,PODate,ReceivingDate,InvoiceDate,PayDate,PurchasePrice,Quantity,Dollars,Classification
0,69_MOUNTMEND_8412,69,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,8124,2015-12-21,2016-01-02,2016-01-04,2016-02-16,35.71,6,214.26,1
1,30_CULCHETH_5255,30,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2015-12-22,2016-01-01,2016-01-07,2016-02-21,9.35,4,37.40,1
2,34_PITMERDEN_5215,34,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2015-12-22,2016-01-02,2016-01-07,2016-02-21,9.41,5,47.05,1
3,1_HARDERSFIELD_5255,1,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2015-12-22,2016-01-01,2016-01-07,2016-02-21,9.35,6,56.10,1
4,76_DONCASTER_2034,76,2034,Glendalough Double Barrel,750mL,388,ATLANTIC IMPORTING COMPANY,8169,2015-12-24,2016-01-02,2016-01-09,2016-02-16,21.32,5,106.60,1
5,5_SUTTON_3348,5,3348,Bombay Sapphire Gin,1.75L,480,BACARDI USA INC,8106,2015-12-20,2016-01-02,2016-01-12,2016-02-05,22.38,6,134.28,1
6,1_HARDERSFIELD_8358,1,8358,Bacardi 151 Proof,750mL,480,BACARDI USA INC,8106,2015-12-20,2016-01-01,2016-01-12,2016-02-05,14.49,12,173.88,1
7,30_CULCHETH_4903,30,4903,Bacardi Superior Rum,200mL,480,BACARDI USA INC,8106,2015-12-20,2016-01-01,2016-01-12,2016-02-05,2.87,48,137.76,1
8,34_PITMERDEN_3782,34,3782,Grey Goose Le Citron Vodka,750mL,480,BACARDI USA INC,8106,2015-12-20,2016-01-02,2016-01-12,2016-02-05,18.89,5,94.45,1
9,1_HARDERSFIELD_4233,1,4233,Castillo Silver Label Rum,1.75L,480,BACARDI USA INC,8106,2015-12-20,2016-01-01,2016-01-12,2016-02-05,7.87,23,181.01,1

In [18]:
# Construir la ruta completa al archivo
ruta_archivo = os.path.join(directorio_actual,r"archive\SalesFINAL12312016.csv" )

Ventas_Final = pd.read_csv(ruta_archivo, nrows=10)

# Mostrar las primeras 5 filas

Ventas_Final

,InventoryId,Store,Brand,Description,Size,SalesQuantity,SalesDollars,SalesPrice,SalesDate,Volume,Classification,ExciseTax,VendorNo,VendorName
0,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,16.49,16.49,1/1/2016,750,1,0.79,12546,JIM BEAM BRANDS COMPANY
1,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,2,32.98,16.49,1/2/2016,750,1,1.57,12546,JIM BEAM BRANDS COMPANY
2,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,16.49,16.49,1/3/2016,750,1,0.79,12546,JIM BEAM BRANDS COMPANY
3,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,14.49,14.49,1/8/2016,750,1,0.79,12546,JIM BEAM BRANDS COMPANY
4,1_HARDERSFIELD_1005,1,1005,Maker's Mark Combo Pack,375mL 2 Pk,2,69.98,34.99,1/9/2016,375,1,0.79,12546,JIM BEAM BRANDS COMPANY
5,1_HARDERSFIELD_1005,1,1005,Maker's Mark Combo Pack,375mL 2 Pk,1,34.99,34.99,1/15/2016,375,1,0.39,12546,JIM BEAM BRANDS COMPANY
6,1_HARDERSFIELD_1005,1,1005,Maker's Mark Combo Pack,375mL 2 Pk,1,34.99,34.99,1/22/2016,375,1,0.39,12546,JIM BEAM BRANDS COMPANY
7,1_HARDERSFIELD_1005,1,1005,Maker's Mark Combo Pack,375mL 2 Pk,1,34.99,34.99,1/30/2016,375,1,0.39,12546,JIM BEAM BRANDS COMPANY
8,1_HARDERSFIELD_10058,1,10058,F Coppola Dmd Ivry Cab Svgn,750mL,4,59.96,14.99,1/5/2016,750,2,0.45,2000,SOUTHERN WINE & SPIRITS NE
9,1_HARDERSFIELD_10058,1,10058,F Coppola Dmd Ivry Cab Svgn,750mL,1,14.99,14.99,1/6/2016,750,2,0.11,2000,SOUTHERN WINE & SPIRITS NE

### Conteo de Filas

In [26]:
# Lista de archivos CSV (usa os.path.join para construir rutas)
archivos_csv = [
    os.path.join(directorio_actual, r'archive', '2017PurchasePricesDec.csv'),
    os.path.join(directorio_actual, r'archive', 'BegInvFINAL12312016.csv'),
    os.path.join(directorio_actual, r'archive', 'EndInvFINAL12312016.csv'),
    os.path.join(directorio_actual, r'archive', 'InvoicePurchases12312016.csv'),
    os.path.join(directorio_actual, r'archive', 'PurchasesFINAL12312016.csv'),
    os.path.join(directorio_actual, r'archive', 'SalesFINAL12312016.csv')
]

total_filas = 0

for archivo in archivos_csv:
    try:
        # Contar las filas en cada archivo, restando 1 por la cabecera
        with open(archivo) as f:
            filas = sum(1 for _ in f) - 1  # Restar 1 por la cabecera
            total_filas += filas
            print(f"Total de filas en {archivo}: {filas}")
    except FileNotFoundError:
        print(f"El archivo no se encontró: {archivo}")
    except Exception as e:
        print(f"Ocurrió un error al procesar {archivo}: {e}")

print(f"Total de filas de datos en todos los archivos CSV: {total_filas}")

Total de filas en c:\Users\beren\Desktop\HENRRY\G4_Inventory\archive\2017PurchasePricesDec.csv: 12261
Total de filas en c:\Users\beren\Desktop\HENRRY\G4_Inventory\archive\BegInvFINAL12312016.csv: 206529
Total de filas en c:\Users\beren\Desktop\HENRRY\G4_Inventory\archive\EndInvFINAL12312016.csv: 224489
Total de filas en c:\Users\beren\Desktop\HENRRY\G4_Inventory\archive\InvoicePurchases12312016.csv: 5543
Total de filas en c:\Users\beren\Desktop\HENRRY\G4_Inventory\archive\PurchasesFINAL12312016.csv: 2372474
Total de filas en c:\Users\beren\Desktop\HENRRY\G4_Inventory\archive\SalesFINAL12312016.csv: 1048575
Total de filas de datos en todos los archivos CSV: 3869871

### Tratamiento de nulos

In [27]:
total_filas = 0

for archivo in archivos_csv:
    try:
        # Leer el archivo CSV
        df = pd.read_csv(archivo)
        
        # Contar filas antes de eliminar nulos
        filas_originales = df.shape[0]
        
        # Eliminar filas con nulos
        df = df.dropna()
        
        # Contar filas después de eliminar nulos
        filas_limpias = df.shape[0]
        
        # Guardar el archivo limpio
        df.to_csv(archivo.replace('.csv', '_limpio.csv'), index=False)
        
        # Calcular total de filas después de eliminar nulos
        total_filas += filas_limpias
        
        print(f"Archivo: {archivo}")
        print(f"Total de filas originales: {filas_originales}, Total de filas después de eliminar nulos: {filas_limpias}")
    
    except FileNotFoundError:
        print(f"El archivo no se encontró: {archivo}")
    except Exception as e:
        print(f"Ocurrió un error al procesar {archivo}: {e}")

print(f"Total de filas limpias en todos los archivos CSV: {total_filas}")

Archivo: c:\Users\beren\Desktop\HENRRY\G4_Inventory\archive\2017PurchasePricesDec.csv
Total de filas originales: 12261, Total de filas después de eliminar nulos: 12260
Archivo: c:\Users\beren\Desktop\HENRRY\G4_Inventory\archive\BegInvFINAL12312016.csv
Total de filas originales: 206529, Total de filas después de eliminar nulos: 206529
Archivo: c:\Users\beren\Desktop\HENRRY\G4_Inventory\archive\EndInvFINAL12312016.csv
Total de filas originales: 224489, Total de filas después de eliminar nulos: 223205
Archivo: c:\Users\beren\Desktop\HENRRY\G4_Inventory\archive\InvoicePurchases12312016.csv
Total de filas originales: 5543, Total de filas después de eliminar nulos: 374
Archivo: c:\Users\beren\Desktop\HENRRY\G4_Inventory\archive\PurchasesFINAL12312016.csv
Total de filas originales: 2372474, Total de filas después de eliminar nulos: 2372471
Archivo: c:\Users\beren\Desktop\HENRRY\G4_Inventory\archive\SalesFINAL12312016.csv
Total de filas originales: 1048575, Total de filas después de eliminar nulos: 1048575
Total de filas limpias en todos los archivos CSV: 3863414