# ANALISIS EXPLORATORIO INICIAL

### Dataset "BegInvFinal12312016"

In [1]:
import numpy as np
import pandas as pd

In [2]:
df_BegInvFinal=pd.read_csv("BegInvFINAL12312016.csv")

In [3]:
df_BegInvFinal.columns

Index(['InventoryId', 'Store', 'City', 'Brand', 'Description', 'Size',
       'onHand', 'Price', 'startDate'],
      dtype='object')

In [4]:
df_BegInvFinal.dtypes

InventoryId     object
Store            int64
City            object
Brand            int64
Description     object
Size            object
onHand           int64
Price          float64
startDate       object
dtype: object

In [5]:
df_BegInvFinal.shape

(206529, 9)

In [6]:
df_BegInvFinal['Description'].value_counts()

Description
Jagermeister Liqueur            459
Bacardi Superior Rum            447
Capt Morgan Spiced Rum          405
Jack Daniels No 7 Black         404
Jim Beam                        378
                               ...
Ch La Dame de Montrose 11 Es      1
Castle Rock Sonoma Cty Pnt N      1
Castello Di Ama Chianti Clsc      1
Dom Faiveley LatricChmbrt 12      1
Ch Julien Chard                   1
Name: count, Length: 7291, dtype: int64

In [7]:
df_BegInvFinal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 206529 entries, 0 to 206528
Data columns (total 9 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InventoryId  206529 non-null  object
 1   Store        206529 non-null  int64
 2   City         206529 non-null  object
 3   Brand        206529 non-null  int64
 4   Description  206529 non-null  object
 5   Size         206529 non-null  object
 6   onHand       206529 non-null  int64
 7   Price        206529 non-null  float64
 8   startDate    206529 non-null  object
dtypes: float64(1), int64(3), object(5)
memory usage: 14.2+ MB

In [8]:
df_BegInvFinal.head()

,InventoryId,Store,City,Brand,Description,Size,onHand,Price,startDate
0,1_HARDERSFIELD_58,1,HARDERSFIELD,58,Gekkeikan Black & Gold Sake,750mL,8,12.99,2016-01-01
1,1_HARDERSFIELD_60,1,HARDERSFIELD,60,Canadian Club 1858 VAP,750mL,7,10.99,2016-01-01
2,1_HARDERSFIELD_62,1,HARDERSFIELD,62,Herradura Silver Tequila,750mL,6,36.99,2016-01-01
3,1_HARDERSFIELD_63,1,HARDERSFIELD,63,Herradura Reposado Tequila,750mL,3,38.99,2016-01-01
4,1_HARDERSFIELD_72,1,HARDERSFIELD,72,No. 3 London Dry Gin,750mL,6,34.99,2016-01-01

In [9]:
df_BegInvFinal["Size"].unique()

array(['750mL', 'Liter', '1.75L', '50mL', '375mL', '50mL 4 Pk',
       '375mL 2 Pk', '750mL 3 Pk', '375mL 3 Pk', '750mL + 3/',
       '200mL 3 Pk', '50mL 3 Pk', '100mL 4 Pk', '100mL', '50mL 5 Pk',
       '200mL 4 Pk', '250mL 4 Pk', '750mL 2 Pk', '200mL', '3/100mL',
       '1.5L', '5L', '4L', '187mL 4 Pk', '3L', '5.0 Oz', '187mL', '500mL',
       '187mL 3 Pk', '300mL', '50mL 12 Pk', '330mL', '250mL', '18L',
       '750mL + 2/', '180mL', '720mL', '22.0 Oz', '6L', '20L',
       '750mL + 4/'], dtype=object)

In [10]:
df_BegInvFinal.isnull().sum()[df_BegInvFinal.isnull().sum()>0]

Series([], dtype: int64)

### Dataset "EndInvFinal12312016"

In [11]:
df_EndInvFinal=pd.read_csv("EndInvFINAL12312016.csv")

In [12]:
df_EndInvFinal.columns

Index(['InventoryId', 'Store', 'City', 'Brand', 'Description', 'Size',
       'onHand', 'Price', 'endDate'],
      dtype='object')

In [13]:
df_EndInvFinal.dtypes

InventoryId     object
Store            int64
City            object
Brand            int64
Description     object
Size            object
onHand           int64
Price          float64
endDate         object
dtype: object

In [14]:
df_EndInvFinal.shape

(224489, 9)

In [15]:
df_EndInvFinal['InventoryId'].value_counts()

InventoryId
81_PEMBROKE_90604     1
1_HARDERSFIELD_58     1
1_HARDERSFIELD_62     1
1_HARDERSFIELD_63     1
1_HARDERSFIELD_72     1
                     ..
1_HARDERSFIELD_192    1
1_HARDERSFIELD_178    1
1_HARDERSFIELD_175    1
1_HARDERSFIELD_171    1
1_HARDERSFIELD_159    1
Name: count, Length: 224489, dtype: int64

In [16]:
df_EndInvFinal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 224489 entries, 0 to 224488
Data columns (total 9 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InventoryId  224489 non-null  object
 1   Store        224489 non-null  int64
 2   City         223205 non-null  object
 3   Brand        224489 non-null  int64
 4   Description  224489 non-null  object
 5   Size         224489 non-null  object
 6   onHand       224489 non-null  int64
 7   Price        224489 non-null  float64
 8   endDate      224489 non-null  object
dtypes: float64(1), int64(3), object(5)
memory usage: 15.4+ MB

#### De la revisión hasta este punto se observa que hay valores faltantes en la columna "City". Se analiza para decidir si eliminar esas filas o rellenar los datos faltantes

In [17]:
# Filtrar las filas donde la columna "Size" está vacía
df_empty_size = df_EndInvFinal[df_EndInvFinal['City'].isna()]

# Mostrar las filas con "Size" vacío
df_empty_size

,InventoryId,Store,City,Brand,Description,Size,onHand,Price,endDate
113895,46__58,46,NaN,58,Gekkeikan Black & Gold Sake,750mL,0,12.99,2016-12-31
113896,46__62,46,NaN,62,Herradura Silver Tequila,750mL,0,36.99,2016-12-31
113897,46__63,46,NaN,63,Herradura Reposado Tequila,750mL,0,38.99,2016-12-31
113898,46__77,46,NaN,77,Three Olives Espresso Vodka,750mL,0,14.99,2016-12-31
113899,46__106,46,NaN,106,Mr Boston Peach Schnapps,Liter,0,4.49,2016-12-31
...,...,...,...,...,...,...,...,...,...
115174,46__46447,46,NaN,46447,Gascon Malbec Mendoza,750mL,0,10.99,2016-12-31
115175,46__46458,46,NaN,46458,Layer Cake Barosa Shiraz,750mL,0,15.99,2016-12-31
115176,46__46476,46,NaN,46476,Tilia Malbec Mendoza,750mL,0,9.99,2016-12-31
115177,46__46764,46,NaN,46764,Clayhouse Adobe Red Paso Rbl,750mL,0,11.99,2016-12-31
115178,46__46830,46,NaN,46830,Pacific Rim Sweet Rsl,750mL,0,8.99,2016-12-31

#### Se observa que sólo la City == 46 es el dato faltante

In [18]:
# Filtrar las filas donde la columna 'City' tiene valores nulos o vacíos
filtered_df = df_EndInvFinal[df_EndInvFinal['City'].isna() | (df_EndInvFinal['City'] == '')]

# Obtener los valores únicos de la columna 'Store'
unique_stores = filtered_df['Store'].unique()

# Mostrar los valores únicos de 'Store'
print(unique_stores)

[46]

#### Se busca este dato en la data de BegInvFinal

In [19]:
# Filtrar las filas donde 'Store' es igual a 46
filtered_df = df_BegInvFinal[df_BegInvFinal['Store'] == 46]

# Seleccionar y mostrar la columna 'City'
print(filtered_df['City'])

108343    TYWARDREATH
108344    TYWARDREATH
108345    TYWARDREATH
108346    TYWARDREATH
108347    TYWARDREATH
             ...
110218    TYWARDREATH
110219    TYWARDREATH
110220    TYWARDREATH
110221    TYWARDREATH
110222    TYWARDREATH
Name: City, Length: 1880, dtype: object

In [20]:
# Filtrar las filas donde 'City' es igual a TYWARDREATH
filtered_df = df_BegInvFinal[df_BegInvFinal['City'] == 'TYWARDREATH']

# Seleccionar y mostrar la columna 'Store'
print(filtered_df['Store'])

108343    46
108344    46
108345    46
108346    46
108347    46
          ..
110218    46
110219    46
110220    46
110221    46
110222    46
Name: Store, Length: 1880, dtype: int64

#### Se verifica que la ciudad de la store 46 si está en el archivo del inventario inicial pero no en el final

In [21]:
# Filtrar las filas donde 'City' es igual a TYWARDREATH
filtered_df = df_EndInvFinal[df_EndInvFinal['City'] == 'TYWARDREATH']

# Seleccionar y mostrar la columna 'Store'
print(filtered_df['Store'])

Series([], Name: Store, dtype: int64)

#### Se reemplaza los valores faltantes de la store = 46 por su ciudad correspondiente

In [22]:
# Reemplazar los valores de 'City' con "TYWARDREATH" donde 'Store' es igual a 46
df_EndInvFinal.loc[df_EndInvFinal['Store'] == 46, 'City'] = 'TYWARDREATH'

# Mostrar el DataFrame para verificar el cambio
print(df_EndInvFinal)

              InventoryId  Store          City  Brand  \
0       1_HARDERSFIELD_58      1  HARDERSFIELD     58
1       1_HARDERSFIELD_62      1  HARDERSFIELD     62
2       1_HARDERSFIELD_63      1  HARDERSFIELD     63
3       1_HARDERSFIELD_72      1  HARDERSFIELD     72
4       1_HARDERSFIELD_75      1  HARDERSFIELD     75
...                   ...    ...           ...    ...
224484  81_PEMBROKE_90087     81      PEMBROKE  90087
224485  81_PEMBROKE_90088     81      PEMBROKE  90088
224486  81_PEMBROKE_90089     81      PEMBROKE  90089
224487  81_PEMBROKE_90090     81      PEMBROKE  90090
224488  81_PEMBROKE_90604     81      PEMBROKE  90604

                         Description   Size  onHand   Price     endDate
0        Gekkeikan Black & Gold Sake  750mL      11   12.99  2016-12-31
1           Herradura Silver Tequila  750mL       7   36.99  2016-12-31
2         Herradura Reposado Tequila  750mL       7   38.99  2016-12-31
3               No. 3 London Dry Gin  750mL       4   34.99  2016-12-31
4          Three Olives Tomato Vodka  750mL       7   14.99  2016-12-31
...                              ...    ...     ...     ...         ...
224484  Ch Mouton Rothschild 12 Paui  750mL       3  469.99  2016-12-31
224485  Ch Le Petite Mouton 12 Pauil  750mL       3  134.99  2016-12-31
224486    Ch Lynch Bages 12 Pauillac  750mL       3  119.99  2016-12-31
224487       Ch Lafite Rothschild 12  750mL       3  649.99  2016-12-31
224488        Ch Lynch Bages Pauilac  750mL       2  119.99  2016-12-31

[224489 rows x 9 columns]

In [23]:
# Filtrar las filas donde 'City' es igual a TYWARDREATH
filtered_df = df_EndInvFinal[df_EndInvFinal['City'] == 'TYWARDREATH']

# Seleccionar y mostrar la columna 'Store'
print(filtered_df['Store'])

113895    46
113896    46
113897    46
113898    46
113899    46
          ..
115174    46
115175    46
115176    46
115177    46
115178    46
Name: Store, Length: 1284, dtype: int64

#### Se verifica que no haya nulos

In [24]:
df_EndInvFinal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 224489 entries, 0 to 224488
Data columns (total 9 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InventoryId  224489 non-null  object
 1   Store        224489 non-null  int64
 2   City         224489 non-null  object
 3   Brand        224489 non-null  int64
 4   Description  224489 non-null  object
 5   Size         224489 non-null  object
 6   onHand       224489 non-null  int64
 7   Price        224489 non-null  float64
 8   endDate      224489 non-null  object
dtypes: float64(1), int64(3), object(5)
memory usage: 15.4+ MB

## Creamos la tabla de hechos df_Inventory uniendo las tablas BegInvFinal y EndInvFinal verticalmente (concat)

#### Primero renombramos las columnas "startDate" y "endDate" por "InventoryDate"

In [25]:
df_BegInvFinal.rename(columns={'startDate': 'InventoryDate'}, inplace=True)

In [26]:
df_BegInvFinal.columns

Index(['InventoryId', 'Store', 'City', 'Brand', 'Description', 'Size',
       'onHand', 'Price', 'InventoryDate'],
      dtype='object')

In [27]:
df_EndInvFinal.rename(columns={'endDate': 'InventoryDate'}, inplace=True)

In [28]:
df_EndInvFinal.columns

Index(['InventoryId', 'Store', 'City', 'Brand', 'Description', 'Size',
       'onHand', 'Price', 'InventoryDate'],
      dtype='object')

#### Unimos nuestras dos tablas

In [29]:
# Combinar las dos tablas colocando los datos de una debajo de la otra
df_Inventory= pd.concat([df_BegInvFinal, df_EndInvFinal], ignore_index=True)

In [30]:
# Mostrar el DataFrame combinado
df_Inventory.shape

(431018, 9)

In [31]:
df_Inventory.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 431018 entries, 0 to 431017
Data columns (total 9 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   InventoryId    431018 non-null  object
 1   Store          431018 non-null  int64
 2   City           431018 non-null  object
 3   Brand          431018 non-null  int64
 4   Description    431018 non-null  object
 5   Size           431018 non-null  object
 6   onHand         431018 non-null  int64
 7   Price          431018 non-null  float64
 8   InventoryDate  431018 non-null  object
dtypes: float64(1), int64(3), object(5)
memory usage: 29.6+ MB

### Dataset "InvoicePurchases12312016"

In [32]:
df_InvoicePurchases= pd.read_csv("InvoicePurchases12312016.csv")

In [33]:
df_InvoicePurchases.columns

Index(['VendorNumber', 'VendorName', 'InvoiceDate', 'PONumber', 'PODate',
       'PayDate', 'Quantity', 'Dollars', 'Freight', 'Approval'],
      dtype='object')

In [34]:
df_InvoicePurchases.dtypes

VendorNumber      int64
VendorName       object
InvoiceDate      object
PONumber          int64
PODate           object
PayDate          object
Quantity          int64
Dollars         float64
Freight         float64
Approval         object
dtype: object

In [35]:
df_InvoicePurchases.shape

(5543, 10)

In [36]:
df_InvoicePurchases.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5543 entries, 0 to 5542
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   VendorNumber  5543 non-null   int64
 1   VendorName    5543 non-null   object
 2   InvoiceDate   5543 non-null   object
 3   PONumber      5543 non-null   int64
 4   PODate        5543 non-null   object
 5   PayDate       5543 non-null   object
 6   Quantity      5543 non-null   int64
 7   Dollars       5543 non-null   float64
 8   Freight       5543 non-null   float64
 9   Approval      374 non-null    object
dtypes: float64(2), int64(3), object(5)
memory usage: 433.2+ KB

In [37]:
df_InvoicePurchases.head()

,VendorNumber,VendorName,InvoiceDate,PONumber,PODate,PayDate,Quantity,Dollars,Freight,Approval
0,105,ALTAMAR BRANDS LLC,2016-01-04,8124,2015-12-21,2016-02-16,6,214.26,3.47,NaN
1,4466,AMERICAN VINTAGE BEVERAGE,2016-01-07,8137,2015-12-22,2016-02-21,15,140.55,8.57,NaN
2,388,ATLANTIC IMPORTING COMPANY,2016-01-09,8169,2015-12-24,2016-02-16,5,106.60,4.61,NaN
3,480,BACARDI USA INC,2016-01-12,8106,2015-12-20,2016-02-05,10100,137483.78,2935.20,NaN
4,516,BANFI PRODUCTS CORP,2016-01-07,8170,2015-12-24,2016-02-12,1935,15527.25,429.20,NaN

In [38]:
df_InvoicePurchases['InvoiceDate'].unique()

array(['2016-01-04', '2016-01-07', '2016-01-09', '2016-01-12',
       '2016-01-08', '2016-01-06', '2016-01-05', '2016-01-11',
       '2016-01-10', '2016-01-17', '2016-01-19', '2016-01-13',
       '2016-01-14', '2016-01-15', '2016-01-16', '2016-01-18',
       '2016-01-25', '2016-01-22', '2016-01-21', '2016-01-26',
       '2016-01-24', '2016-01-23', '2016-01-20', '2016-01-27',
       '2016-01-31', '2016-01-29', '2016-02-01', '2016-02-02',
       '2016-01-28', '2016-01-30', '2016-02-04', '2016-02-03',
       '2016-02-06', '2016-02-07', '2016-02-05', '2016-02-08',
       '2016-02-09', '2016-02-16', '2016-02-11', '2016-02-10',
       '2016-02-15', '2016-02-13', '2016-02-14', '2016-02-12',
       '2016-02-17', '2016-02-19', '2016-02-23', '2016-02-20',
       '2016-02-21', '2016-02-18', '2016-02-22', '2016-03-01',
       '2016-02-25', '2016-02-28', '2016-02-29', '2016-02-27',
       '2016-02-24', '2016-02-26', '2016-03-06', '2016-03-05',
       '2016-03-07', '2016-03-04', '2016-03-02', '2016-03-03',
       '2016-03-08', '2016-03-13', '2016-03-12', '2016-03-15',
       '2016-03-14', '2016-03-11', '2016-03-10', '2016-03-09',
       '2016-03-16', '2016-03-22', '2016-03-17', '2016-03-19',
       '2016-03-20', '2016-03-18', '2016-03-21', '2016-03-23',
       '2016-03-26', '2016-03-28', '2016-03-25', '2016-03-27',
       '2016-03-29', '2016-03-24', '2016-04-03', '2016-03-31',
       '2016-03-30', '2016-04-02', '2016-04-04', '2016-04-01',
       '2016-04-05', '2016-04-09', '2016-04-06', '2016-04-12',
       '2016-04-08', '2016-04-10', '2016-04-11', '2016-04-07',
       '2016-04-17', '2016-04-15', '2016-04-16', '2016-04-14',
       '2016-04-13', '2016-04-19', '2016-04-18', '2016-04-20',
       '2016-04-24', '2016-04-22', '2016-04-21', '2016-04-25',
       '2016-04-23', '2016-04-26', '2016-04-30', '2016-04-28',
       '2016-04-29', '2016-05-01', '2016-05-03', '2016-05-02',
       '2016-04-27', '2016-05-10', '2016-05-09', '2016-05-07',
       '2016-05-06', '2016-05-04', '2016-05-08', '2016-05-05',
       '2016-05-11', '2016-05-16', '2016-05-14', '2016-05-12',
       '2016-05-17', '2016-05-13', '2016-05-15', '2016-05-24',
       '2016-05-23', '2016-05-18', '2016-05-22', '2016-05-20',
       '2016-05-21', '2016-05-19', '2016-05-31', '2016-05-28',
       '2016-05-30', '2016-05-25', '2016-05-27', '2016-05-29',
       '2016-05-26', '2016-06-05', '2016-06-04', '2016-06-07',
       '2016-06-06', '2016-06-01', '2016-06-03', '2016-06-02',
       '2016-06-09', '2016-06-12', '2016-06-10', '2016-06-13',
       '2016-06-11', '2016-06-14', '2016-06-08', '2016-06-17',
       '2016-06-21', '2016-06-18', '2016-06-15', '2016-06-20',
       '2016-06-16', '2016-06-19', '2016-06-26', '2016-06-23',
       '2016-06-28', '2016-06-22', '2016-06-27', '2016-06-24',
       '2016-06-25', '2016-07-01', '2016-06-29', '2016-07-04',
       '2016-06-30', '2016-07-05', '2016-07-03', '2016-07-02',
       '2016-07-09', '2016-07-07', '2016-07-11', '2016-07-12',
       '2016-07-08', '2016-07-10', '2016-07-06', '2016-07-18',
       '2016-07-19', '2016-07-14', '2016-07-13', '2016-07-16',
       '2016-07-17', '2016-07-15', '2016-07-20', '2016-07-25',
       '2016-07-24', '2016-07-26', '2016-07-22', '2016-07-23',
       '2016-07-21', '2016-07-28', '2016-07-29', '2016-08-01',
       '2016-07-27', '2016-08-02', '2016-07-31', '2016-07-30',
       '2016-08-07', '2016-08-04', '2016-08-03', '2016-08-08',
       '2016-08-05', '2016-08-09', '2016-08-06', '2016-08-14',
       '2016-08-10', '2016-08-16', '2016-08-11', '2016-08-15',
       '2016-08-13', '2016-08-12', '2016-08-21', '2016-08-18',
       '2016-08-17', '2016-08-19', '2016-08-22', '2016-08-23',
       '2016-08-20', '2016-08-25', '2016-08-29', '2016-08-24',
       '2016-08-27', '2016-08-28', '2016-08-26', '2016-08-30',
       '2016-09-01', '2016-08-31', '2016-09-02', '2016-09-04',
       '2016-09-06', '2016-09-03', '2016-09-05', '2016-09-07',
       '2016-09-10', '2016-09-12', '2016-09-09', '2016-09-13',
       '2016-09-08', '2016-09-11', '2016-09-16', '2016-09-15',
       '2016-09-18', '2016-09-20', '2016-09-19', '2016-09-14',
       '2016-09-17', '2016-09-27', '2016-09-25', '2016-09-26',
       '2016-09-22', '2016-09-23', '2016-09-21', '2016-09-24',
       '2016-10-02', '2016-10-03', '2016-10-01', '2016-09-29',
       '2016-10-04', '2016-09-28', '2016-09-30', '2016-10-06',
       '2016-10-05', '2016-10-08', '2016-10-09', '2016-10-07',
       '2016-10-10', '2016-10-11', '2016-10-17', '2016-10-12',
       '2016-10-13', '2016-10-16', '2016-10-15', '2016-10-14',
       '2016-10-18', '2016-10-21', '2016-10-23', '2016-10-20',
       '2016-10-19', '2016-10-22', '2016-10-25', '2016-10-24',
       '2016-11-01', '2016-10-27', '2016-10-26', '2016-10-30',
       '2016-10-28', '2016-10-31', '2016-10-29', '2016-11-08',
       '2016-11-07', '2016-11-06', '2016-11-02', '2016-11-05',
       '2016-11-04', '2016-11-03', '2016-11-14', '2016-11-11',
       '2016-11-12', '2016-11-15', '2016-11-09', '2016-11-10',
       '2016-11-13', '2016-11-22', '2016-11-20', '2016-11-18',
       '2016-11-17', '2016-11-21', '2016-11-16', '2016-11-19',
       '2016-11-23', '2016-11-27', '2016-11-25', '2016-11-26',
       '2016-11-28', '2016-11-29', '2016-11-24', '2016-12-05',
       '2016-11-30', '2016-12-03', '2016-12-06', '2016-12-01',
       '2016-12-02', '2016-12-04', '2016-12-08', '2016-12-09',
       '2016-12-10', '2016-12-07', '2016-12-13', '2016-12-12',
       '2016-12-11', '2016-12-19', '2016-12-16', '2016-12-17',
       '2016-12-15', '2016-12-18', '2016-12-14', '2016-12-20',
       '2016-12-23', '2016-12-26', '2016-12-22', '2016-12-21',
       '2016-12-24', '2016-12-25', '2016-12-27', '2017-01-02',
       '2017-01-03', '2016-12-30', '2016-12-31', '2016-12-29',
       '2017-01-01', '2016-12-28', '2017-01-05', '2017-01-04',
       '2017-01-09', '2017-01-08', '2017-01-10', '2017-01-06',
       '2017-01-07'], dtype=object)

### Dataset "2017PurchasePricesDec"

In [39]:
df_PurchasePrices=pd.read_csv("2017PurchasePricesDec.csv")

In [40]:
df_PurchasePrices.columns

Index(['Brand', 'Description', 'Price', 'Size', 'Volume', 'Classification',
       'PurchasePrice', 'VendorNumber', 'VendorName'],
      dtype='object')

In [41]:
df_PurchasePrices.dtypes

Brand               int64
Description        object
Price             float64
Size               object
Volume             object
Classification      int64
PurchasePrice     float64
VendorNumber        int64
VendorName         object
dtype: object

In [42]:
df_PurchasePrices.shape

(12261, 9)

In [43]:
df_PurchasePrices.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12261 entries, 0 to 12260
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Brand           12261 non-null  int64
 1   Description     12260 non-null  object
 2   Price           12261 non-null  float64
 3   Size            12260 non-null  object
 4   Volume          12260 non-null  object
 5   Classification  12261 non-null  int64
 6   PurchasePrice   12261 non-null  float64
 7   VendorNumber    12261 non-null  int64
 8   VendorName      12261 non-null  object
dtypes: float64(2), int64(3), object(4)
memory usage: 862.2+ KB

In [135]:
df_PurchasePrices.head()

,Brand,Description,Price,Size,Volume,Classification,PurchasePrice,VendorNumber,VendorName
0,58,Gekkeikan Black & Gold Sake,12.99,750mL,750,1,9.28,8320,SHAW ROSS INT L IMP LTD
1,62,Herradura Silver Tequila,36.99,750mL,750,1,28.67,1128,BROWN-FORMAN CORP
2,63,Herradura Reposado Tequila,38.99,750mL,750,1,30.46,1128,BROWN-FORMAN CORP
3,72,No. 3 London Dry Gin,34.99,750mL,750,1,26.11,9165,ULTRA BEVERAGE COMPANY LLP
4,75,Three Olives Tomato Vodka,14.99,750mL,750,1,10.94,7245,PROXIMO SPIRITS INC.

#### Hallar los valores nulos de PurchasePrices

In [134]:
total_nulos_purchaseprices = df_PurchasePrices.isnull().sum()[df_PurchasePrices.isnull().sum()>0]
print(total_nulos_purchaseprices)

Description    1
Size           1
Volume         1
dtype: int64

#### Se identifica la fila con valores vacios

In [136]:
# Filtrar las filas donde la columna "Description" está vacía
df_empty_description = df_PurchasePrices[df_PurchasePrices['Description'].isna()]

# Mostrar las filas con "Size" vacío
df_empty_description

,Brand,Description,Price,Size,Volume,Classification,PurchasePrice,VendorNumber,VendorName
7915,4202,NaN,0.0,NaN,NaN,1,11.19,480,BACARDI USA INC

#### Se verifica en las tablas Inventory, SalesFinal y PurchasesFinal y no se encuentra ningun dato para Brand = 4202

In [145]:
# Filtrar la fila donde 'Brand' es igual a 4202
row_brand_4202 = df_Inventory[df_Inventory['Brand'] == 4202]

# Mostrar la fila
print(row_brand_4202)

Empty DataFrame
Columns: [InventoryId, Store, City, Brand, Description, Size, onHand, Price, InventoryDate]
Index: []

#### Se elimina la fila que contiene Brand = 4202

In [146]:
# Eliminar filas donde 'Brand' es igual a 4202
df_PurchasePrices = df_PurchasePrices[df_PurchasePrices['Brand'] != 4202]

# Mostrar el DataFrame actualizado (opcional)
df_PurchasePrices.info()

<class 'pandas.core.frame.DataFrame'>
Index: 12260 entries, 0 to 12260
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Brand           12260 non-null  int64
 1   Description     12260 non-null  object
 2   Price           12260 non-null  float64
 3   Size            12260 non-null  object
 4   Volume          12260 non-null  object
 5   Classification  12260 non-null  int64
 6   PurchasePrice   12260 non-null  float64
 7   VendorNumber    12260 non-null  int64
 8   VendorName      12260 non-null  object
dtypes: float64(2), int64(3), object(4)
memory usage: 957.8+ KB

### Dataset "SalesFINAL12312016"

In [45]:
df_SalesFinal= pd.read_csv("SalesFINAL12312016.csv")

In [46]:
df_SalesFinal.columns

Index(['InventoryId', 'Store', 'Brand', 'Description', 'Size', 'SalesQuantity',
       'SalesDollars', 'SalesPrice', 'SalesDate', 'Volume', 'Classification',
       'ExciseTax', 'VendorNo', 'VendorName'],
      dtype='object')

In [47]:
df_SalesFinal.dtypes

InventoryId        object
Store               int64
Brand               int64
Description        object
Size               object
SalesQuantity       int64
SalesDollars      float64
SalesPrice        float64
SalesDate          object
Volume              int64
Classification      int64
ExciseTax         float64
VendorNo            int64
VendorName         object
dtype: object

In [48]:
df_SalesFinal.shape

(1048575, 14)

In [49]:
df_SalesFinal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 14 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   InventoryId     1048575 non-null  object
 1   Store           1048575 non-null  int64
 2   Brand           1048575 non-null  int64
 3   Description     1048575 non-null  object
 4   Size            1048575 non-null  object
 5   SalesQuantity   1048575 non-null  int64
 6   SalesDollars    1048575 non-null  float64
 7   SalesPrice      1048575 non-null  float64
 8   SalesDate       1048575 non-null  object
 9   Volume          1048575 non-null  int64
 10  Classification  1048575 non-null  int64
 11  ExciseTax       1048575 non-null  float64
 12  VendorNo        1048575 non-null  int64
 13  VendorName      1048575 non-null  object
dtypes: float64(3), int64(6), object(5)
memory usage: 112.0+ MB

In [50]:
df_SalesFinal.head()

,InventoryId,Store,Brand,Description,Size,SalesQuantity,SalesDollars,SalesPrice,SalesDate,Volume,Classification,ExciseTax,VendorNo,VendorName
0,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,16.49,16.49,1/1/2016,750,1,0.79,12546,JIM BEAM BRANDS COMPANY
1,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,2,32.98,16.49,1/2/2016,750,1,1.57,12546,JIM BEAM BRANDS COMPANY
2,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,16.49,16.49,1/3/2016,750,1,0.79,12546,JIM BEAM BRANDS COMPANY
3,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,14.49,14.49,1/8/2016,750,1,0.79,12546,JIM BEAM BRANDS COMPANY
4,1_HARDERSFIELD_1005,1,1005,Maker's Mark Combo Pack,375mL 2 Pk,2,69.98,34.99,1/9/2016,375,1,0.79,12546,JIM BEAM BRANDS COMPANY

In [143]:
# Filtrar la fila donde 'Brand' es igual a 4202
row_brand_4202 = df_SalesFinal[df_SalesFinal['Brand'] == 4202]

# Mostrar la fila
print(row_brand_4202)

Empty DataFrame
Columns: [InventoryId, Store, Brand, Description, Size, SalesQuantity, SalesDollars, SalesPrice, SalesDate, Volume, Classification, ExciseTax, VendorNo, VendorName]
Index: []

#### Hallar Clave unica para df_SalesFinal

In [51]:
# Filtrar las columnas 'Brand' y 'VendorNo' y eliminar duplicados
filtered_df = df_SalesFinal[['Brand', 'VendorNo']].drop_duplicates()

# Ordenar el DataFrame por la columna 'Brand'
sorted_df = filtered_df.sort_values(by='Brand')

# Mostrar el resultado
print(sorted_df)

        Brand  VendorNo
14426      58      8320
14576      60     12546
582983     61      8004
14656      62      1128
14833      63      1128
...       ...       ...
884641  90084      1703
709384  90085         2
828671  90086      1703
302450  90087      1703
347292  90089      1703

[7658 rows x 2 columns]

In [52]:
# Filtrar las columnas 'Brand' y 'VendorNo' y eliminar duplicados
filtered_df = df_SalesFinal[['Brand', 'Classification']].drop_duplicates()

# Ordenar el DataFrame por la columna 'Brand'
sorted_df = filtered_df.sort_values(by='Brand')

# Mostrar el resultado
print(sorted_df)

        Brand  Classification
14426      58               1
14576      60               1
582983     61               1
14656      62               1
14833      63               1
...       ...             ...
884641  90084               2
709384  90085               2
828671  90086               2
302450  90087               2
347292  90089               2

[7658 rows x 2 columns]

In [53]:
# Agrupar por las columnas 'Brand' y 'VendorNo' y contar los duplicados
duplicates_count = df_SalesFinal.groupby(['Brand', 'VendorNo']).size().reset_index(name='count')

# Mostrar el resultado
print(duplicates_count)

      Brand  VendorNo  count
0        58      8320    212
1        60     12546     99
2        61      8004      2
3        62      1128    132
4        63      1128    107
...     ...       ...    ...
7653  90084      1703      2
7654  90085         2      1
7655  90086      1703      1
7656  90087      1703      1
7657  90089      1703      5

[7658 rows x 3 columns]

#### Clave unica para df_SalesFinal

In [54]:
# Agrupar por las columnas 'Brand' y 'VendorNo' y contar los duplicados
duplicates_count = df_SalesFinal.groupby(['InventoryId','SalesDate', 'VendorNo']).size().reset_index(name='count')

# Mostrar el resultado
print(duplicates_count)

              InventoryId  SalesDate  VendorNo  count
0         10_HORNSEY_1000  1/29/2016      1485      1
1         10_HORNSEY_1001   1/1/2016      3960      1
2         10_HORNSEY_1001   1/2/2016      3960      1
3         10_HORNSEY_1001   1/4/2016      3960      1
4        10_HORNSEY_10030  2/13/2016     90017      1
...                   ...        ...       ...    ...
1048570   9_BLACKPOOL_984  1/15/2016      9165      1
1048571   9_BLACKPOOL_984  1/17/2016      9165      1
1048572   9_BLACKPOOL_984  1/19/2016      9165      1
1048573   9_BLACKPOOL_984  1/30/2016      9165      1
1048574   9_BLACKPOOL_984   1/4/2016      9165      1

[1048575 rows x 4 columns]

In [61]:
duplicates_count.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 4 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   InventoryId  1048575 non-null  object
 1   SalesDate    1048575 non-null  object
 2   VendorNo     1048575 non-null  int64
 3   count        1048575 non-null  int64
dtypes: int64(2), object(2)
memory usage: 32.0+ MB

### DATASET PurchasesFINAL12312016

In [62]:
df_PurchasesFinal=pd.read_csv("PurchasesFINAL12312016.csv")

In [63]:
df_PurchasesFinal.columns

Index(['InventoryId', 'Store', 'Brand', 'Description', 'Size', 'VendorNumber',
       'VendorName', 'PONumber', 'PODate', 'ReceivingDate', 'InvoiceDate',
       'PayDate', 'PurchasePrice', 'Quantity', 'Dollars', 'Classification'],
      dtype='object')

In [64]:
df_PurchasesFinal["VendorName"].unique()

array(['ALTAMAR BRANDS LLC         ', 'AMERICAN VINTAGE BEVERAGE  ',
       'ATLANTIC IMPORTING COMPANY ', 'BACARDI USA INC            ',
       'BANFI PRODUCTS CORP        ', 'BLACK PRINCE DISTILLERY INC',
       'BROWN-FORMAN CORP          ', 'BULLY BOY DISTILLERS       ',
       'CALEDONIA SPIRITS INC      ', 'CAMPARI AMERICA            ',
       'CANDIA VINEYARDS           ', 'CASTLE BRANDS CORP.        ',
       'CENTEUR IMPORTS LLC        ', 'CHARLES JACQUIN ET CIE INC ',
       'CONSTELLATION BRANDS INC   ', 'CRUSH WINES                ',
       'DELICATO VINEYARDS INC     ', 'DIAGEO CHATEAU ESTATE WINES',
       'DIAGEO NORTH AMERICA INC   ', 'DISARONNO INTERNATIONAL LLC',
       'DJINN SPIRITS LLC          ', 'DUGGANS DISTILLED PRODUCTS ',
       'E & J GALLO WINERY         ', 'EDRINGTON AMERICAS         ',
       'FABRIZIA SPIRITS LLC       ', 'FLAG HILL WINERY & VINEYARD',
       'FORTUNE WINE BROKERS LLC   ', 'FREDERICK WILDMAN & SONS   ',
       'HEAVEN HILL DISTILLERIES   ', 'HOOD RIVER DISTILLERS, Inc.',
       'INCREDIBREW INC            ', 'JEWELL TOWNE VINEYARDS     ',
       'JIM BEAM BRANDS COMPANY    ', 'KLIN SPIRITS LLC           ',
       'KOBRAND CORPORATION        ', 'LABELLE VYDS AND WINERY    ',
       'LAIRD & CO                 ', 'LATITUDE BEVERAGE COMPANY  ',
       'LUXCO INC                  ', 'M S WALKER INC             ',
       'MAJESTIC FINE WINES        ', 'MARSALLE COMPANY           ',
       'MARTIGNETTI COMPANIES ', 'MARTIGNETTI COMPANIES',
       'MCCORMICK DISTILLING CO    ', 'MHW LTD                    ',
       'MOET HENNESSY USA INC      ', 'MOONLIGHT MEADERY          ',
       'NICHE W & S                ', 'OLE SMOKY DISTILLERY LLC   ',
       'PALM BAY INTERNATIONAL INC ', 'PERFECTA WINES             ',
       'PERNOD RICARD USA          ', 'PHILLIPS PRODUCTS CO.      ',
       'PINE STATE TRADING CO      ', 'POVERTY LANE ORCHARDS      ',
       'PREMIER DISTRIBUTORS       ', 'PROXIMO SPIRITS INC.       ',
       'PSP WINES ', 'REMY COINTREAU USA INC     ',
       'Russian Standard Vodka     ', 'SAZERAC CO INC             ',
       'SAZERAC NORTH AMERICA INC. ', 'SEA HAGG DISTILLERY LLC    ',
       'Serralles Usa LLC          ', 'SHAW ROSS INT L IMP LTD    ',
       'SIDNEY FRANK IMPORTING CO  ', 'SOUTHERN WINE & SPIRITS NE ',
       'STAR INDUSTRIES INC.       ', 'STATE WINE & SPIRITS   ',
       'STE MICHELLE WINE ESTATES  ', 'STOLI GROUP,(USA) LLC      ',
       'SURVILLE ENTERPRISES CORP  ', 'SWEET BABY VINEYARD        ',
       'TAKARA SAKE USA INC        ', 'TALL SHIP DISTILLERY LLC   ',
       'TREASURY WINE ESTATES      ', 'TRINCHERO FAMILY ESTATES   ',
       'ULTRA BEVERAGE COMPANY LLP ', 'VINEDREA WINES LLC         ',
       'VINEXTRA INC               ', 'VINEYARD BRANDS INC        ',
       'VINILANDIA USA             ', 'VRANKEN AMERICA            ',
       'WEIN BAUER INC             ', 'WESTERN SPIRITS BEVERAGE CO',
       'WILLIAM GRANT & SONS INC   ', 'WINE GROUP INC             ',
       'ZORVINO VINEYARDS          ', 'APPOLO VINEYARDS LLC       ',
       'BRONCO WINE COMPANY        ', 'Dunn Wine Brokers          ',
       'FULCHINO VINEYARD INC      ', 'HAUNTING WHISPER VYDS      ',
       'PREMIUM PORT WINES, INC.   ', 'SEA BREEZE CELLARS LLC     ',
       'SMOKY QUARTZ DISTILLERY LLC', 'STELLAR IMPORTING CO LLC   ',
       'THE PIERPONT GROUP LLC     ', 'TY KU LLC                  ',
       'BLACK ROCK SPIRITS LLC     ', 'Circa Wines                ',
       'TAMWORTH DISTILLING        ', 'THE IMPORTED GRAPE LLC     ',
       'WALPOLE MTN VIEW WINERY    ', 'MILTONS DISTRIBUTING CO    ',
       'ALISA CARR BEVERAGES           ', 'CAPSTONE INTERNATIONAL     ',
       'MANGO BOTTLING INC         ', 'R.P.IMPORTS INC            ',
       'SWEETWATER FARM         ', 'UNCORKED       ',
       'HIGHLAND WINE MERCHANTS LLC', 'PARK STREET IMPORTS LLC    ',
       'IRA GOLDMAN AND WILLIAMS, LLP          ',
       'SILVER MOUNTAIN CIDERS     ', 'FANTASY FINE WINES CORP    ',
       'ADAMBA IMPORTS INTL INC    ', 'AMERICAN SPIRITS EXCHANGE  ',
       'TRUETT HURST               ', 'STARK BREWING COMPANY      ',
       'SOUTHERN GLAZERS W&S OF NE ', 'GILMANTON WINERY & VINEYARD',
       'FLAVOR ESSENCE INC         ', 'LAUREATE IMPORTS CO        ',
       'BLACK COVE BEVERAGES       ', 'LOYAL DOG WINERY           ',
       'VINEYARD BRANDS LLC        ', 'AAPER ALCOHOL & CHEMICAL CO'],
      dtype=object)

In [65]:
df_PurchasesFinal.dtypes

InventoryId        object
Store               int64
Brand               int64
Description        object
Size               object
VendorNumber        int64
VendorName         object
PONumber            int64
PODate             object
ReceivingDate      object
InvoiceDate        object
PayDate            object
PurchasePrice     float64
Quantity            int64
Dollars           float64
Classification      int64
dtype: object

In [66]:
df_PurchasesFinal.shape

(2372474, 16)

In [67]:
df_PurchasesFinal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2372474 entries, 0 to 2372473
Data columns (total 16 columns):
 #   Column          Dtype
---  ------          -----
 0   InventoryId     object
 1   Store           int64
 2   Brand           int64
 3   Description     object
 4   Size            object
 5   VendorNumber    int64
 6   VendorName      object
 7   PONumber        int64
 8   PODate          object
 9   ReceivingDate   object
 10  InvoiceDate     object
 11  PayDate         object
 12  PurchasePrice   float64
 13  Quantity        int64
 14  Dollars         float64
 15  Classification  int64
dtypes: float64(2), int64(6), object(8)
memory usage: 289.6+ MB

#### Verificar si Classification corresponde como único valor de Brand

In [68]:
classification_unique = df_PurchasesFinal.groupby('Brand')['Classification'].nunique().reset_index()

# Filtrar las marcas que tienen más de un valor único de Classification
brands_with_multiple_classifications = classification_unique[classification_unique['Classification'] > 1]

print(brands_with_multiple_classifications)

Empty DataFrame
Columns: [Brand, Classification]
Index: []

##### Arriba ↑↑ se demuestra que "Classification", que tiene valores de 1 y 2 unicos para cada Brand

In [69]:
df_PurchasesFinal['Classification'].unique()

array([1, 2])

#### Hallar Clave Unica para Purchase Final

In [70]:
df_PurchasesFinal.head()

,InventoryId,Store,Brand,Description,Size,VendorNumber,VendorName,PONumber,PODate,ReceivingDate,InvoiceDate,PayDate,PurchasePrice,Quantity,Dollars,Classification
0,69_MOUNTMEND_8412,69,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,8124,2015-12-21,2016-01-02,2016-01-04,2016-02-16,35.71,6,214.26,1
1,30_CULCHETH_5255,30,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2015-12-22,2016-01-01,2016-01-07,2016-02-21,9.35,4,37.40,1
2,34_PITMERDEN_5215,34,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2015-12-22,2016-01-02,2016-01-07,2016-02-21,9.41,5,47.05,1
3,1_HARDERSFIELD_5255,1,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2015-12-22,2016-01-01,2016-01-07,2016-02-21,9.35,6,56.10,1
4,76_DONCASTER_2034,76,2034,Glendalough Double Barrel,750mL,388,ATLANTIC IMPORTING COMPANY,8169,2015-12-24,2016-01-02,2016-01-09,2016-02-16,21.32,5,106.60,1

In [71]:
total_nulos_purchasesfinal = df_PurchasesFinal.isnull().sum()[df_PurchasesFinal.isnull().sum()>0]
print(total_nulos_purchasesfinal)

Size    3
dtype: int64

### LLENAR LOS 3 NULOS DE LA COLUMNA SIZE

In [72]:
# Filtrar las filas donde la columna "Size" está vacía
df_empty_size = df_PurchasesFinal[df_PurchasesFinal['Size'].isna()]

# Mostrar las filas con "Size" vacío
df_empty_size

,InventoryId,Store,Brand,Description,Size,VendorNumber,VendorName,PONumber,PODate,ReceivingDate,InvoiceDate,PayDate,PurchasePrice,Quantity,Dollars,Classification
1109668,34_PITMERDEN_3121,34,3121,Pinnacle Rainbow Sherbet,NaN,12546,JIM BEAM BRANDS COMPANY,10938,2016-06-27,2016-07-04,2016-07-13,2016-08-16,6.93,7,48.51,1
1112426,34_PITMERDEN_5678,34,5678,Skinnygirl Pina Colada,NaN,12546,JIM BEAM BRANDS COMPANY,10938,2016-06-27,2016-07-09,2016-07-13,2016-08-16,6.93,6,41.58,1
1116302,39_EASTHALLOW_15365,39,15365,Alabaster 07 Tinta de Toro,NaN,9552,M S WALKER INC,10972,2016-06-29,2016-07-07,2016-07-13,2016-08-21,91.83,1,91.83,2

In [73]:
# Filtrar las filas donde la columna 'Brand' sea igual a '3121', '5678' o '15365'
brands_to_check = [3121, 5678, 15365]
df_filtered = df_BegInvFinal[df_BegInvFinal['Brand'].isin(brands_to_check)]

# Mostrar solo las columnas 'Brand' y 'Size' para las brands seleccionadas
df_filtered[['Brand', 'Size']].value_counts()

Brand  Size
3121   750mL    33
5678   750mL    16
15365  750mL     2
Name: count, dtype: int64

In [74]:
# Llenar los espacios vacíos en la columna 'Size' con el valor '750mL'
df_PurchasesFinal.fillna({'Size':'750mL'}, inplace=True)

# Verificar que se hayan llenado los valores nulos
df_PurchasesFinal['Size'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 2372474 entries, 0 to 2372473
Series name: Size
Non-Null Count    Dtype
--------------    -----
2372474 non-null  object
dtypes: object(1)
memory usage: 18.1+ MB

In [75]:
df_PurchasesFinal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2372474 entries, 0 to 2372473
Data columns (total 16 columns):
 #   Column          Dtype
---  ------          -----
 0   InventoryId     object
 1   Store           int64
 2   Brand           int64
 3   Description     object
 4   Size            object
 5   VendorNumber    int64
 6   VendorName      object
 7   PONumber        int64
 8   PODate          object
 9   ReceivingDate   object
 10  InvoiceDate     object
 11  PayDate         object
 12  PurchasePrice   float64
 13  Quantity        int64
 14  Dollars         float64
 15  Classification  int64
dtypes: float64(2), int64(6), object(8)
memory usage: 289.6+ MB

In [142]:
# Filtrar la fila donde 'Brand' es igual a 4202
row_brand_4202 = df_PurchasesFinal[df_PurchasesFinal['Brand'] == 4202]

# Mostrar la fila
print(row_brand_4202)

Empty DataFrame
Columns: [InventoryId, Store, Brand, Description, Size, VendorNumber, VendorName, PONumber, PODate, ReceivingDate, InvoiceDate, PayDate, PurchasePrice, Quantity, Dollars, Classification]
Index: []

In [76]:
total_nulos_purchasesfinal = df_PurchasesFinal.isnull().sum()[df_PurchasesFinal.isnull().sum()>0]
print(total_nulos_purchasesfinal)

Series([], dtype: int64)

#### Clave unica para df_PurchasesFinal

In [79]:
# Agrupar por las columnas 'Brand' y 'VendorNo' y contar los duplicados
duplicates_count_2 = df_PurchasesFinal.groupby(['InventoryId', 'PONumber','ReceivingDate']).size().reset_index(name='count')

# Mostrar el resultado
print(duplicates_count_2)

             InventoryId  PONumber ReceivingDate  count
0        10_HORNSEY_1001     11191    2016-07-19      1
1        10_HORNSEY_1001     11589    2016-08-16      1
2        10_HORNSEY_1003     12369    2016-10-04      1
3        10_HORNSEY_1003     12585    2016-10-19      1
4        10_HORNSEY_1003     12676    2016-10-28      1
...                  ...       ...           ...    ...
2372469  9_BLACKPOOL_984     11898    2016-09-07      1
2372470  9_BLACKPOOL_984     12689    2016-10-26      1
2372471  9_BLACKPOOL_984     13286    2016-12-07      1
2372472  9_BLACKPOOL_984     13604    2016-12-28      1
2372473  9_BLACKPOOL_999      9028    2016-02-29      1

[2372474 rows x 4 columns]

In [358]:
# Agrupar por las columnas 'Brand' y 'VendorNo' y contar los duplicados
duplicates_count_2 = df_PurchasesFinal.groupby(['Store', 'Brand','Description']).size().reset_index(name='count')

In [359]:
duplicates_count_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244679 entries, 0 to 244678
Data columns (total 4 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Store        244679 non-null  int64
 1   Brand        244679 non-null  int64
 2   Description  244679 non-null  object
 3   count        244679 non-null  int64
dtypes: int64(3), object(1)
memory usage: 7.5+ MB

In [80]:
duplicates_count_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2372474 entries, 0 to 2372473
Data columns (total 4 columns):
 #   Column         Dtype
---  ------         -----
 0   InventoryId    object
 1   PONumber       int64
 2   ReceivingDate  object
 3   count          int64
dtypes: int64(2), object(2)
memory usage: 72.4+ MB

In [81]:
total_nulos_df_duplicates = duplicates_count_2.isnull().sum()[duplicates_count_2.isnull().sum()>0]
print(total_nulos_df_duplicates)

Series([], dtype: int64)

### LIMPIAR VACIOS DE MIS TABLAS

#### TABLA PURCHASESFINAL

In [82]:
# Eliminar espacios en blanco al inicio y al final de cada texto en todas las columnas
df_PurchasesFinal = df_PurchasesFinal.map(lambda x: x.strip() if isinstance(x, str) else x)

# Mostrar el DataFrame actualizado
df_PurchasesFinal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2372474 entries, 0 to 2372473
Data columns (total 16 columns):
 #   Column          Dtype
---  ------          -----
 0   InventoryId     object
 1   Store           int64
 2   Brand           int64
 3   Description     object
 4   Size            object
 5   VendorNumber    int64
 6   VendorName      object
 7   PONumber        int64
 8   PODate          object
 9   ReceivingDate   object
 10  InvoiceDate     object
 11  PayDate         object
 12  PurchasePrice   float64
 13  Quantity        int64
 14  Dollars         float64
 15  Classification  int64
dtypes: float64(2), int64(6), object(8)
memory usage: 289.6+ MB

In [83]:
df_PurchasesFinal.isnull().sum()[df_PurchasesFinal.isnull().sum()>0]

Series([], dtype: int64)

#### TABLA SALESFINAL

In [84]:
# Eliminar espacios en blanco al inicio y al final de cada texto en todas las columnas
df_SalesFinal = df_SalesFinal.map(lambda x: x.strip() if isinstance(x, str) else x)

# Mostrar el DataFrame actualizado
df_SalesFinal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 14 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   InventoryId     1048575 non-null  object
 1   Store           1048575 non-null  int64
 2   Brand           1048575 non-null  int64
 3   Description     1048575 non-null  object
 4   Size            1048575 non-null  object
 5   SalesQuantity   1048575 non-null  int64
 6   SalesDollars    1048575 non-null  float64
 7   SalesPrice      1048575 non-null  float64
 8   SalesDate       1048575 non-null  object
 9   Volume          1048575 non-null  int64
 10  Classification  1048575 non-null  int64
 11  ExciseTax       1048575 non-null  float64
 12  VendorNo        1048575 non-null  int64
 13  VendorName      1048575 non-null  object
dtypes: float64(3), int64(6), object(5)
memory usage: 112.0+ MB

In [85]:
df_SalesFinal.isnull().sum()[df_SalesFinal.isnull().sum()>0]

Series([], dtype: int64)

### TABLA DF_INVENTORY

In [86]:
# Eliminar espacios en blanco al inicio y al final de cada texto en todas las columnas
df_Inventory = df_Inventory.map(lambda x: x.strip() if isinstance(x, str) else x)

# Mostrar el DataFrame actualizado
df_Inventory.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 431018 entries, 0 to 431017
Data columns (total 9 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   InventoryId    431018 non-null  object
 1   Store          431018 non-null  int64
 2   City           431018 non-null  object
 3   Brand          431018 non-null  int64
 4   Description    431018 non-null  object
 5   Size           431018 non-null  object
 6   onHand         431018 non-null  int64
 7   Price          431018 non-null  float64
 8   InventoryDate  431018 non-null  object
dtypes: float64(1), int64(3), object(5)
memory usage: 29.6+ MB

In [87]:
df_Inventory.isnull().sum()[df_Inventory.isnull().sum()>0]

Series([], dtype: int64)

#### TABLA PURCHASEPRICES

In [147]:
# Eliminar espacios en blanco al inicio y al final de cada texto en todas las columnas
df_PurchasePrices = df_PurchasePrices.map(lambda x: x.strip() if isinstance(x, str) else x)

# Mostrar el DataFrame actualizado
df_PurchasePrices.info()

<class 'pandas.core.frame.DataFrame'>
Index: 12260 entries, 0 to 12260
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Brand           12260 non-null  int64
 1   Description     12260 non-null  object
 2   Price           12260 non-null  float64
 3   Size            12260 non-null  object
 4   Volume          12260 non-null  object
 5   Classification  12260 non-null  int64
 6   PurchasePrice   12260 non-null  float64
 7   VendorNumber    12260 non-null  int64
 8   VendorName      12260 non-null  object
dtypes: float64(2), int64(3), object(4)
memory usage: 957.8+ KB

In [148]:
df_PurchasePrices.isnull().sum()[df_PurchasePrices.isnull().sum()>0]

Series([], dtype: int64)

## GUARDAMOS NUESTROS ARCHIVOS LIMPIOS, SIN NULOS Y TRANSFORMADOS

In [88]:
df_Inventory.to_csv('Fact_Inventory_paso1.csv', index=False)

In [89]:
df_SalesFinal.to_csv('Fact_Sales_paso1.csv', index=False)

In [90]:
df_PurchasesFinal.to_csv('Fact_Purchases_paso1.csv', index=False)

In [150]:
df_PurchasePrices.to_csv('df_PurchasePrices_paso1.csv', index=False)

## ABRIMOS NUEVAMENTE NUESTROS ARCHIVOS PARA SEGUIR TRABAJANDO

In [91]:
import pandas as pd
import numpy as np

In [92]:
df_Inventory= pd.read_csv("Fact_Inventory_paso1.csv")

In [443]:
df_PurchasesFinal= pd.read_csv("Fact_Purchases_paso1.csv")

In [444]:
df_SalesFinal= pd.read_csv("Fact_Sales_paso1.csv")

In [151]:
df_PurchasePrices= pd.read_csv("df_PurchasePrices_paso1.csv")

#### Verificamos nuevamente nuestra data

In [97]:
df_Inventory.shape

(431018, 9)

In [101]:
df_Inventory.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 431018 entries, 0 to 431017
Data columns (total 9 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   InventoryId    431018 non-null  object
 1   Store          431018 non-null  int64
 2   City           431018 non-null  object
 3   Brand          431018 non-null  int64
 4   Description    431018 non-null  object
 5   Size           431018 non-null  object
 6   onHand         431018 non-null  int64
 7   Price          431018 non-null  float64
 8   InventoryDate  431018 non-null  object
dtypes: float64(1), int64(3), object(5)
memory usage: 29.6+ MB

In [106]:
df_Inventory.isnull().sum()[df_Inventory.isnull().sum()>0]

Series([], dtype: int64)

In [98]:
df_SalesFinal.shape

(1048575, 14)

In [102]:
df_SalesFinal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 14 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   InventoryId     1048575 non-null  object
 1   Store           1048575 non-null  int64
 2   Brand           1048575 non-null  int64
 3   Description     1048575 non-null  object
 4   Size            1048575 non-null  object
 5   SalesQuantity   1048575 non-null  int64
 6   SalesDollars    1048575 non-null  float64
 7   SalesPrice      1048575 non-null  float64
 8   SalesDate       1048575 non-null  object
 9   Volume          1048575 non-null  int64
 10  Classification  1048575 non-null  int64
 11  ExciseTax       1048575 non-null  float64
 12  VendorNo        1048575 non-null  int64
 13  VendorName      1048575 non-null  object
dtypes: float64(3), int64(6), object(5)
memory usage: 112.0+ MB

In [105]:
df_SalesFinal.isnull().sum()[df_SalesFinal.isnull().sum()>0]

Series([], dtype: int64)

In [99]:
df_PurchasesFinal.shape

(2372474, 16)

In [103]:
df_PurchasesFinal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2372474 entries, 0 to 2372473
Data columns (total 16 columns):
 #   Column          Dtype
---  ------          -----
 0   InventoryId     object
 1   Store           int64
 2   Brand           int64
 3   Description     object
 4   Size            object
 5   VendorNumber    int64
 6   VendorName      object
 7   PONumber        int64
 8   PODate          object
 9   ReceivingDate   object
 10  InvoiceDate     object
 11  PayDate         object
 12  PurchasePrice   float64
 13  Quantity        int64
 14  Dollars         float64
 15  Classification  int64
dtypes: float64(2), int64(6), object(8)
memory usage: 289.6+ MB

In [104]:
df_PurchasesFinal.isnull().sum()[df_PurchasesFinal.isnull().sum()>0]

Series([], dtype: int64)

In [152]:
df_PurchasePrices.shape

(12260, 9)

In [153]:
df_PurchasePrices.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12260 entries, 0 to 12259
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Brand           12260 non-null  int64
 1   Description     12260 non-null  object
 2   Price           12260 non-null  float64
 3   Size            12260 non-null  object
 4   Volume          12260 non-null  object
 5   Classification  12260 non-null  int64
 6   PurchasePrice   12260 non-null  float64
 7   VendorNumber    12260 non-null  int64
 8   VendorName      12260 non-null  object
dtypes: float64(2), int64(3), object(4)
memory usage: 862.2+ KB

In [154]:
df_PurchasePrices.isnull().sum()[df_PurchasePrices.isnull().sum()>0]

Series([], dtype: int64)

## CREACION DE TABLAS DIMENSIONALES

#### Primero verificamos caracterísitcas de nuestra data

##### Revisamos df_Inventory

In [108]:
df_Inventory.columns

Index(['InventoryId', 'Store', 'City', 'Brand', 'Description', 'Size',
       'onHand', 'Price', 'InventoryDate'],
      dtype='object')

In [132]:
df_Inventory.shape

(431018, 9)

In [113]:
df_Inventory['Brand'].value_counts()

Brand
6983     159
77       159
6976     159
6967     159
15527    159
        ...
21418      1
17841      1
15070      1
13808      1
8930       1
Name: count, Length: 10759, dtype: int64

In [118]:
# Agrupar por 'Brand' y contar los valores únicos de 'Description'
df_grouped = df_Inventory.groupby('Brand')['Description'].nunique().reset_index()

# Filtrar los casos donde hay más de un valor único de 'Description'
df_multiple_descriptions = df_grouped[df_grouped['Description'] > 1]

# Ver cuántos Brand tienen más de una Description
count_brands = df_multiple_descriptions.shape[0]

# Mostrar los Brand con más de una Description
print(df_multiple_descriptions[['Brand', 'Description']])

# Mostrar cuántos Brand tienen más de una Description
print(f"Number of Brands with more than one unique Description: {count_brands}")

       Brand  Description
54       178            2
116      311            2
126      350            2
143      381            2
257      652            2
...      ...          ...
10406  43937            2
10472  44613            2
10496  44742            2
10552  45322            2
10596  45837            2

[117 rows x 2 columns]
Number of Brands with more than one unique Description: 117

In [119]:
df_multiple_descriptions['Description'].unique()

array([2])

In [124]:
# Filtrar la fila donde 'Brand' es igual a 178
row_brand_178 = df_Inventory[df_Inventory['Brand'] == 178]

# Mostrar la fila
row_brand_178['Description'].unique()

array(["Wild Turkey Russell's RSV", "W Turkey Russell's RSV 10 Yr"],
      dtype=object)

In [126]:
# Filtrar la fila donde 'Brand' es igual a 178
row_brand_311 = df_Inventory[df_Inventory['Brand'] == 311]

# Mostrar la fila
row_brand_311['Description'].unique()

array(['The Glenlivet 12 Yr Gift Pk', 'The Glenlivet w/2 50mLs Pak'],
      dtype=object)

#### CONCLUSION: El valor de la columna "Description" para la misma Brand, está escrito de forma diferente en el inventario de inicio de año y fin de año, esto se debe corregir.

##### Revisamos df_PurchaisePrices

In [155]:
df_PurchasePrices.shape

(12260, 9)

In [166]:
df_PurchasePrices['Brand'].value_counts()

Brand
46964    1
58       1
62       1
63       1
33052    1
        ..
126      1
115      1
79       1
77       1
75       1
Name: count, Length: 12260, dtype: int64

In [167]:
df_PurchasePrices['Size'].value_counts()

Size
750mL          9823
1500mL          486
1750mL          433
1000mL          427
375mL           318
50mL            276
3000mL          104
187mL            52
500mL            51
187mL 4 Pk       48
5000mL           44
200mL            26
300mL            24
4000mL           16
1500ml           11
720mL            11
100mL             8
750mL 2 Pk        6
250mL 4 Pk        6
50mL 4 Pk         6
330mL             5
180mL             5
50mL 3 Pk         5
20000mL           5
50mL 5 Pk         4
200mL 3 Pk        4
6000mL            4
Unknown           4
187mL 3 Pk        4
375mL 2 Pk        3
200mL 4 Pk        3
750mL 3 Pk        3
18000mL           3
250mL             3
150mL             2
100mL 4 Pk        2
375mL 3 Pk        2
750mL + 3/        2
750mL 6 Pk        2
600mL             2
560mL             2
20mL 5 Pk         1
750mL + 4/        1
1000mL 2 Pk       1
650mL             1
750mL 12 P        1
750mL + 1/        1
50mL 12 Pk        1
400mL             1
162.5mL           1
200mL 5 Pk        1
1100ml            1
19500mL           1
3750mL            1
750mL  3          1
9000mL            1
Name: count, dtype: int64

In [168]:
df_PurchasePrices['Description'].value_counts()

Description
Bacardi Superior Rum            7
Jagermeister Liqueur            7
Capt Morgan Spiced Rum          6
Patron Silver Tequila           6
Jim Beam                        6
                               ..
Priest Ranch Sauvignon Blanc    1
DLD Syrah -Les Gosses           1
Morgan Winery Albarino          1
Chateau D'Armailhac 2014        1
Three Olives Espresso Vodka     1
Name: count, Length: 11114, dtype: int64

In [157]:
# Agrupar por 'Brand' y contar los valores únicos de 'Description'
df_grouped_pp = df_PurchasePrices.groupby('Brand')['Description'].nunique().reset_index()

# Filtrar los casos donde hay más de un valor único de 'Description'
df_multiple_descriptions_pp = df_grouped_pp[df_grouped_pp['Description'] > 1]

# Ver cuántos Brand tienen más de una Description
count_brands_pp = df_multiple_descriptions_pp.shape[0]

# Mostrar los Brand con más de una Description
print(df_multiple_descriptions_pp[['Brand', 'Description']])

# Mostrar cuántos Brand tienen más de una Description
print(f"Number of Brands with more than one unique Description: {count_brands_pp}")

Empty DataFrame
Columns: [Brand, Description]
Index: []
Number of Brands with more than one unique Description: 0

In [170]:
# Agrupar por 'Brand' y contar los valores únicos de 'Size'
df_grouped_pp2 = df_PurchasePrices.groupby('Brand')['Size'].nunique().reset_index()

# Filtrar los casos donde hay más de un valor único de 'Description'
df_multiple_size_pp = df_grouped_pp2[df_grouped_pp2['Size'] > 1]

# Ver cuántos Brand tienen más de una Description
count_brands_pp2 = df_multiple_size_pp.shape[0]

# Mostrar los Brand con más de una Description
print(df_multiple_size_pp[['Brand', 'Size']])

# Mostrar cuántos Brand tienen más de una Description
print(f"Number of Brands with more than one unique Size: {count_brands_pp2}")

Empty DataFrame
Columns: [Brand, Size]
Index: []
Number of Brands with more than one unique Size: 0

In [175]:
# Agrupar por 'Description' y contar los valores únicos de 'Brand'
df_grouped_pp3 = df_PurchasePrices.groupby('Description')['Brand'].nunique().reset_index()

# Filtrar los casos donde hay más de un valor único de 'Brand'
df_multiple_brand_pp = df_grouped_pp3[df_grouped_pp3['Brand'] > 1]

# Ver cuántos Description tienen más de una Brand
count_brand_pp = df_multiple_brand_pp.shape[0]

# Mostrar los Description con más de una Brand
print(df_multiple_brand_pp[['Description', 'Brand']])

# Mostrar cuántos Description tienen más de una Brand
print(f"Number of Description with more than one unique Brand: {count_brand_pp}")

                        Description  Brand
27             1800 Coconut Tequila      2
29       1800 Reposado Gold Tequila      5
31              1800 Silver Tequila      4
65                       99 Bananas      2
66                  99 Blackberries      2
...                             ...    ...
11022     Yellow Tail Sweet Red Roo      2
11023   Yellow Tail Sweet White Roo      2
11024   Yellow Tail Tree Free Chard      2
11034                    Yukon Jack      4
11055  Zardetto Private Cuvee Glara      2

[791 rows x 2 columns]
Number of Description with more than one unique Brand: 791

In [176]:
# Agrupar por 'Description' y contar los valores únicos de 'Size'
df_grouped_pp4 = df_PurchasePrices.groupby('Description')['Size'].nunique().reset_index()

# Filtrar los casos donde hay más de un valor único de 'Size'
df_multiple_size_pp2 = df_grouped_pp4[df_grouped_pp4['Size'] > 1]

# Ver cuántos Description tienen más de una Brand
count_size_pp2 = df_multiple_size_pp2.shape[0]

# Mostrar los Brand con más de una Description
print(df_multiple_size_pp2[['Description', 'Size']])

# Mostrar cuántos Description tienen más de una Size
print(f"Number of Description with more than one unique Brand: {count_size_pp2}")

                        Description  Size
27             1800 Coconut Tequila     2
29       1800 Reposado Gold Tequila     5
31              1800 Silver Tequila     4
65                       99 Bananas     2
66                  99 Blackberries     2
...                             ...   ...
11022     Yellow Tail Sweet Red Roo     2
11023   Yellow Tail Sweet White Roo     2
11024   Yellow Tail Tree Free Chard     2
11034                    Yukon Jack     4
11055  Zardetto Private Cuvee Glara     2

[760 rows x 2 columns]
Number of Description with more than one unique Brand: 760

In [290]:
# Agrupar por 'Description' y contar los valores únicos de 'Classification'
df_grouped_pp8 = df_PurchasePrices.groupby('Description')['Classification'].nunique().reset_index()

# Filtrar los casos donde hay más de un valor único de 'Classification'
df_multiple_class = df_grouped_pp8[df_grouped_pp8['Classification'] > 1]

# Ver cuántos Description tienen más de un Classification
count_class= df_multiple_class.shape[0]

# Mostrar los Description con más de un Classification
print(df_multiple_class[['Description', 'Classification']])

# Mostrar cuántos Description tienen más de un Classification
print(f"Number of Descrption with more than one unique Classification: {count_class}")

                       Description  Classification
5319              J Roget Spumante               2
6557          M & R Sweet Vermouth               2
6558          M & R X Dry Vermouth               2
8588  Richards Wild Irish Rose Red               2
9163  Shady Fruit Real Ruby Red Gr               2
9193     Sho Chiku Bai Takara Sake               2
9660  Stock Italian Sweet Vermouth               2
Number of Descrption with more than one unique Classification: 7

#### CONCLUSION: La tabla PurchasePrices tiene valor unico a Brand

#### Revisamos la tabla PurchaiseFinal

In [229]:
df_PurchasesFinal.shape

(2372474, 16)

In [230]:
df_PurchasesFinal['VendorNumber'].value_counts()

VendorNumber
3960      243326
12546     189832
1392      185574
4425      176781
3252      162567
           ...
1439           1
201359         1
9099           1
4901           1
54             1
Name: count, Length: 126, dtype: int64

#### Revisamos la tabla SalesFinal

In [231]:
df_SalesFinal.shape

(1048575, 14)

In [232]:
df_SalesFinal['VendorNo'].value_counts()

VendorNo
3960      125869
12546      94057
4425       76625
1392       70792
3252       65240
           ...
172662         1
9710           1
1265           1
2              1
1002           1
Name: count, Length: 116, dtype: int64

#### Revisamos la tabla InvoicePurchases

In [177]:
df_InvoicePurchases.shape

(5543, 10)

In [193]:
df_InvoicePurchases.columns

Index(['VendorNumber', 'VendorName', 'InvoiceDate', 'PONumber', 'PODate',
       'PayDate', 'Quantity', 'Dollars', 'Freight', 'Approval'],
      dtype='object')

In [178]:
df_InvoicePurchases['VendorNumber'].value_counts()

VendorNumber
4425      82
2000      67
1587      58
4380      55
516       55
          ..
1439       1
201359     1
9099       1
4901       1
54         1
Name: count, Length: 126, dtype: int64

In [192]:
# Filtrar la fila donde 'VendorNumber' es igual a 1587
row_VendorNumber_1587_ip = df_InvoicePurchases[df_InvoicePurchases['VendorNumber'] == 1587]

# Mostrar la fila
row_VendorNumber_1587_ip['VendorName'].unique()

array(['VINEYARD BRANDS INC        ', 'VINEYARD BRANDS LLC        '],
      dtype=object)

In [199]:
# Filtrar la fila donde 'VendorName' es igual a 'VINEYARD BRANDS INC        '
row_VendorName_1 = df_InvoicePurchases[df_InvoicePurchases['VendorName'] == 'VINEYARD BRANDS INC        ']

# Mostrar la fila
row_VendorName_1['InvoiceDate'].unique()

array(['2016-01-04', '2016-01-11', '2016-01-18', '2016-02-02',
       '2016-02-03', '2016-02-09', '2016-02-22', '2016-03-01',
       '2016-03-08', '2016-03-11', '2016-03-21', '2016-03-28',
       '2016-04-01', '2016-04-08', '2016-04-15', '2016-04-18',
       '2016-04-30', '2016-05-07', '2016-05-12', '2016-05-23',
       '2016-05-28', '2016-05-31', '2016-06-13', '2016-06-19',
       '2016-06-27', '2016-07-01', '2016-07-04', '2016-07-07',
       '2016-07-12', '2016-07-23', '2016-07-30', '2016-08-08',
       '2016-08-12', '2016-08-16', '2016-08-30', '2016-08-31',
       '2016-09-06', '2016-09-20', '2016-09-23', '2016-10-01',
       '2016-10-08', '2016-10-07', '2016-10-10', '2016-10-23',
       '2016-10-27', '2016-11-04', '2016-11-12', '2016-11-15',
       '2016-11-29', '2016-12-06', '2016-12-09', '2016-12-18',
       '2016-12-25', '2016-12-29', '2017-01-03'], dtype=object)

In [200]:
# Filtrar la fila donde 'VendorName' es igual a 'VINEYARD BRANDS LLC        '
row_VendorName_2 = df_InvoicePurchases[df_InvoicePurchases['VendorName'] == 'VINEYARD BRANDS LLC        ']

# Mostrar la fila
row_VendorName_2['InvoiceDate'].unique()

array(['2016-12-05', '2016-12-25', '2017-01-03'], dtype=object)

#### CONCLUSION: Se debe borrar "VINEYARD BRANDS LLC" por tener pocas compras, debe ser nombre erroneo

In [210]:
# Filtrar la fila donde 'InvoiceDate' es igual a '2016-12-25'
row_date = df_InvoicePurchases[df_InvoicePurchases['InvoiceDate'] == '2016-12-25']

# Mostrar la fila
row_date['VendorNumber'].unique()

array([ 1128,  1650,  1392,  6215,  6355,  7245, 99166, 28776,  8892,
        1587, 90058])

In [212]:
# Filtrar la fila donde 'InvoiceDate' es igual a '2016-12-25'
row_date = df_InvoicePurchases[df_InvoicePurchases['InvoiceDate'] == '2016-12-25']

# Mostrar la fila
print(row_date[['VendorNumber','VendorName']].value_counts())

VendorNumber  VendorName
1128          BROWN-FORMAN CORP              1
1392          CONSTELLATION BRANDS INC       1
1587          VINEYARD BRANDS INC            1
              VINEYARD BRANDS LLC            1
1650          Circa Wines                    1
6215          MOONLIGHT MEADERY              1
6355          NICHE W & S                    1
7245          PROXIMO SPIRITS INC.           1
8892          TRINCHERO FAMILY ESTATES       1
28776         TALL SHIP DISTILLERY LLC       1
90058         ZORVINO VINEYARDS              1
99166         STARK BREWING COMPANY          1
Name: count, dtype: int64

In [220]:
# Filtrar la fila donde 'VendorNumber' es igual a 2000
row_VendorNumber_2000 = df_InvoicePurchases[df_InvoicePurchases['VendorNumber'] == 2000]

# Mostrar la fila
row_VendorNumber_2000['VendorName'].unique()

array(['SOUTHERN WINE & SPIRITS NE ', 'SOUTHERN GLAZERS W&S OF NE '],
      dtype=object)

In [221]:
# Filtrar la fila donde 'VendorName' es igual a 'SOUTHERN WINE & SPIRITS NE'
row_VendorName_1 = df_InvoicePurchases[df_InvoicePurchases['VendorName'] == 'SOUTHERN WINE & SPIRITS NE ']

# Mostrar la fila
row_VendorName_1['InvoiceDate'].unique()

array(['2016-01-05', '2016-01-17', '2016-01-21', '2016-01-31',
       '2016-02-02', '2016-02-10', '2016-02-19', '2016-03-01',
       '2016-02-29', '2016-03-07', '2016-03-15', '2016-03-28',
       '2016-04-01', '2016-04-05', '2016-04-16', '2016-04-19',
       '2016-04-28', '2016-05-08', '2016-05-09', '2016-05-18',
       '2016-05-25', '2016-06-06', '2016-06-07', '2016-06-19',
       '2016-06-23', '2016-07-05', '2016-07-04', '2016-07-08',
       '2016-07-12', '2016-07-20', '2016-07-26', '2016-08-08',
       '2016-08-11', '2016-08-16', '2016-08-22', '2016-08-31',
       '2016-09-05', '2016-09-13', '2016-09-26', '2016-09-29',
       '2016-10-08', '2016-10-07', '2016-10-11', '2016-10-22',
       '2016-10-29', '2016-11-02', '2016-11-12', '2016-11-19',
       '2016-11-28', '2016-12-01', '2016-12-08', '2016-12-17',
       '2016-12-26', '2016-12-30', '2017-01-08'], dtype=object)

In [222]:
# Filtrar la fila donde 'VendorName' es igual a 'SOUTHERN GLAZERS W&S OF NE '
row_VendorName_2 = df_InvoicePurchases[df_InvoicePurchases['VendorName'] == 'SOUTHERN GLAZERS W&S OF NE ']

# Mostrar la fila
row_VendorName_2['InvoiceDate'].unique()

array(['2016-09-17', '2016-09-24', '2016-09-27', '2016-10-07',
       '2016-10-16', '2016-10-23', '2016-11-01', '2016-11-07',
       '2016-11-26', '2016-11-30', '2016-12-12', '2016-12-27'],
      dtype=object)

#### CONCLUSION: Se debe borrar 'SOUTHERN GLAZERS W&S OF NE' por tener pocas compras, debe ser nombre erróneo

In [223]:
# Filtrar la fila donde 'InvoiceDate' es igual a '2016-10-07'
row_date = df_InvoicePurchases[df_InvoicePurchases['InvoiceDate'] == '2016-10-07']

# Mostrar la fila
row_date['VendorNumber'].unique()

array([  480,  4380,  2242, 90011,  9744,  3951, 90053,  4848,  5612,
        6785,  2000, 28776, 90017, 90024,  1601,  9625,   516, 17031,
        9206,  9819,  1587])

In [224]:
# Filtrar la fila donde 'InvoiceDate' es igual a '2016-10-07'
row_date = df_InvoicePurchases[df_InvoicePurchases['InvoiceDate'] == '2016-10-07']

# Mostrar la fila
print(row_date[['VendorNumber','VendorName']].value_counts())

VendorNumber  VendorName
480           BACARDI USA INC                1
516           BANFI PRODUCTS CORP            1
1587          VINEYARD BRANDS INC            1
1601          VRANKEN AMERICA                1
2000          SOUTHERN GLAZERS W&S OF NE     1
              SOUTHERN WINE & SPIRITS NE     1
2242          DELICATO VINEYARDS INC         1
3951          HIGHLAND WINE MERCHANTS LLC    1
4380          CHARLES JACQUIN ET CIE INC     1
4848          LAIRD & CO                     1
5612          MILTONS DISTRIBUTING CO        1
6785          PALM BAY INTERNATIONAL INC     1
9206          PHILLIPS PRODUCTS CO.          1
9625          WESTERN SPIRITS BEVERAGE CO    1
9744          FREDERICK WILDMAN & SONS       1
9819          TREASURY WINE ESTATES          1
17031         FLAG HILL WINERY & VINEYARD    1
28776         TALL SHIP DISTILLERY LLC       1
90011         FORTUNE WINE BROKERS LLC       1
90017         THE IMPORTED GRAPE LLC         1
90024         VINILANDIA USA                 1
90053         INCREDIBREW INC                1
Name: count, dtype: int64

#### Revisamos la tabla PurchaisePrices

In [179]:
df_PurchasePrices.shape

(12260, 9)

In [180]:
df_PurchasePrices['VendorNumber'].value_counts()

VendorNumber
4425     1639
9165      965
9552      960
10754     897
3252      527
         ...
99166       1
9099        1
54          1
90059       1
5083        1
Name: count, Length: 131, dtype: int64

In [187]:
df_PurchasePrices['VendorName'].value_counts()

VendorName
MARTIGNETTI COMPANIES          1639
ULTRA BEVERAGE COMPANY LLP      965
M S WALKER INC                  960
PERFECTA WINES                  897
E & J GALLO WINERY              527
                               ...
TRUETT HURST                      1
STARK BREWING COMPANY             1
AAPER ALCOHOL & CHEMICAL CO       1
BLACK COVE BEVERAGES              1
LOYAL DOG WINERY                  1
Name: count, Length: 133, dtype: int64

In [188]:
# Agrupar por 'VendorNumber' y contar los valores únicos de 'VendorName'
df_grouped_pp5 = df_PurchasePrices.groupby('VendorNumber')['VendorName'].nunique().reset_index()

# Filtrar los casos donde hay más de un valor único de 'VendorName'
df_multiple_VendorName = df_grouped_pp5[df_grouped_pp5['VendorName'] > 1]

# Ver cuántos VendorNumber tienen más de un VendorName
count_VendorName = df_multiple_VendorName.shape[0]

# Mostrar los VendorNumber con más de un VendorName
print(df_multiple_VendorName[['VendorNumber', 'VendorName']])

# Mostrar cuántos VendorNumber tienen más de un VendorName
print(f"Number of VendorNumber with more than one unique VendorName: {count_VendorName}")

    VendorNumber  VendorName
20          1587           2
26          2000           2
Number of VendorNumber with more than one unique VendorName: 2

In [190]:
# Filtrar la fila donde 'VendorNumber' es igual a 1587
row_VendorNumber_1587 = df_PurchasePrices[df_PurchasePrices['VendorNumber'] == 1587]

# Mostrar la fila
row_VendorNumber_1587['VendorName'].unique()

array(['VINEYARD BRANDS INC', 'VINEYARD BRANDS LLC'], dtype=object)

In [225]:
# Filtrar la fila donde 'VendorNumber' es igual a 2000
row_VendorNumber_2000 = df_PurchasePrices[df_PurchasePrices['VendorNumber'] == 2000]

# Mostrar la fila
row_VendorNumber_2000['VendorName'].unique()

array(['SOUTHERN WINE & SPIRITS NE', 'SOUTHERN GLAZERS W&S OF NE'],
      dtype=object)

#### Elimino las filas de VendorName que tienen distintos valores para un mismo VendorNumber de mi datafrme "PurchasePrices" (que tiene la mayor cantidad de vendors)

#### Vendor 1 detectado

In [218]:
# Eliminar filas donde 'VendorName' es igual a 'VINEYARD BRANDS LLC'
df_PurchasePrices = df_PurchasePrices[df_PurchasePrices['VendorName'] != 'VINEYARD BRANDS LLC']

# Mostrar el DataFrame actualizado (opcional)
print(df_PurchasePrices)

       Brand                   Description  Price    Size Volume  \
0         58   Gekkeikan Black & Gold Sake  12.99   750mL    750
1         62      Herradura Silver Tequila  36.99   750mL    750
2         63    Herradura Reposado Tequila  38.99   750mL    750
3         72          No. 3 London Dry Gin  34.99   750mL    750
4         75     Three Olives Tomato Vodka  14.99   750mL    750
...      ...                           ...    ...     ...    ...
12255  44917     Ferreira 10-Yr Tawny Port  24.99   750mL    750
12256  44944     Sanford Santa Rita Pnt Nr  22.99   750mL    750
12257  45016  Neal One Lane Bridg Cab Svgn  93.99   750mL    750
12258  46011       Folonari Pnt Nr Venezie  12.99  1500ml   1500
12259  46964     Calera Viognier Mt Harlan  35.99   750mL    750

       Classification  PurchasePrice  VendorNumber                  VendorName
0                   1           9.28          8320     SHAW ROSS INT L IMP LTD
1                   1          28.67          1128           BROWN-FORMAN CORP
2                   1          30.46          1128           BROWN-FORMAN CORP
3                   1          26.11          9165  ULTRA BEVERAGE COMPANY LLP
4                   1          10.94          7245        PROXIMO SPIRITS INC.
...               ...            ...           ...                         ...
12255               2          16.55         90024              VINILANDIA USA
12256               2          14.93          4425       MARTIGNETTI COMPANIES
12257               2          61.43         10754              PERFECTA WINES
12258               2           8.90          9744    FREDERICK WILDMAN & SONS
12259               2          24.32         10754              PERFECTA WINES

[12257 rows x 9 columns]

In [219]:
# Filtrar la fila donde 'VendorNumber' es igual a 1587
row_VendorNumber_1587 = df_PurchasePrices[df_PurchasePrices['VendorNumber'] == 1587]

# Mostrar la fila
row_VendorNumber_1587['VendorName'].unique()

array(['VINEYARD BRANDS INC'], dtype=object)

#### Vendor 2 detectado

In [191]:
# Filtrar la fila donde 'VendorNumber' es igual a 2000
row_VendorNumber_2000 = df_PurchasePrices[df_PurchasePrices['VendorNumber'] == 2000]

# Mostrar la fila
row_VendorNumber_2000['VendorName'].unique()

array(['SOUTHERN WINE & SPIRITS NE', 'SOUTHERN GLAZERS W&S OF NE'],
      dtype=object)

In [226]:
# Eliminar filas donde 'VendorName' es igual a 'VINEYARD BRANDS LLC'
df_PurchasePrices = df_PurchasePrices[df_PurchasePrices['VendorName'] != 'SOUTHERN GLAZERS W&S OF NE']

# Mostrar el DataFrame actualizado (opcional)
print(df_PurchasePrices)

       Brand                   Description  Price    Size Volume  \
0         58   Gekkeikan Black & Gold Sake  12.99   750mL    750
1         62      Herradura Silver Tequila  36.99   750mL    750
2         63    Herradura Reposado Tequila  38.99   750mL    750
3         72          No. 3 London Dry Gin  34.99   750mL    750
4         75     Three Olives Tomato Vodka  14.99   750mL    750
...      ...                           ...    ...     ...    ...
12255  44917     Ferreira 10-Yr Tawny Port  24.99   750mL    750
12256  44944     Sanford Santa Rita Pnt Nr  22.99   750mL    750
12257  45016  Neal One Lane Bridg Cab Svgn  93.99   750mL    750
12258  46011       Folonari Pnt Nr Venezie  12.99  1500ml   1500
12259  46964     Calera Viognier Mt Harlan  35.99   750mL    750

       Classification  PurchasePrice  VendorNumber                  VendorName
0                   1           9.28          8320     SHAW ROSS INT L IMP LTD
1                   1          28.67          1128           BROWN-FORMAN CORP
2                   1          30.46          1128           BROWN-FORMAN CORP
3                   1          26.11          9165  ULTRA BEVERAGE COMPANY LLP
4                   1          10.94          7245        PROXIMO SPIRITS INC.
...               ...            ...           ...                         ...
12255               2          16.55         90024              VINILANDIA USA
12256               2          14.93          4425       MARTIGNETTI COMPANIES
12257               2          61.43         10754              PERFECTA WINES
12258               2           8.90          9744    FREDERICK WILDMAN & SONS
12259               2          24.32         10754              PERFECTA WINES

[12248 rows x 9 columns]

In [227]:
# Filtrar la fila donde 'VendorNumber' es igual a 2000
row_VendorNumber_2000 = df_PurchasePrices[df_PurchasePrices['VendorNumber'] == 2000]

# Mostrar la fila
row_VendorNumber_2000['VendorName'].unique()

array(['SOUTHERN WINE & SPIRITS NE'], dtype=object)

### Guardamos nuestro dataframe con los nuevos cambios

In [228]:
df_PurchasePrices.to_csv('df_PurchasePrices_paso2.csv', index=False)

### Lo abrimos nuevamente y verificamos

In [233]:
df_PurchasePrices= pd.read_csv("df_PurchasePrices_paso2.csv")

In [235]:
df_PurchasePrices.columns

Index(['Brand', 'Description', 'Price', 'Size', 'Volume', 'Classification',
       'PurchasePrice', 'VendorNumber', 'VendorName'],
      dtype='object')

In [310]:
# Verificar si hay duplicados basados en las columnas Brand, Description y Size
duplicated_rows_dfPP = df_PurchasePrices[df_PurchasePrices.duplicated(subset=['Brand', 'Description', 'Size'], keep=False)]

# Mostrar las filas duplicadas
duplicated_rows_dfPP.info()

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Brand           0 non-null      int64
 1   Description     0 non-null      object
 2   Price           0 non-null      float64
 3   Size            0 non-null      object
 4   Volume          0 non-null      object
 5   Classification  0 non-null      int64
 6   PurchasePrice   0 non-null      float64
 7   VendorNumber    0 non-null      int64
 8   VendorName      0 non-null      object
dtypes: float64(2), int64(3), object(4)
memory usage: 0.0+ bytes

In [234]:
# Agrupar por 'VendorNumber' y contar los valores únicos de 'VendorName'
df_grouped_pp6 = df_PurchasePrices.groupby('VendorNumber')['VendorName'].nunique().reset_index()

# Filtrar los casos donde hay más de un valor único de 'VendorName'
df_multiple_VendorName_vf = df_grouped_pp6[df_grouped_pp6['VendorName'] > 1]

# Ver cuántos VendorNumber tienen más de un VendorName
count_VendorName_vf = df_multiple_VendorName_vf.shape[0]

# Mostrar los VendorNumber con más de un VendorName
print(df_multiple_VendorName_vf[['VendorNumber', 'VendorName']])

# Mostrar cuántos VendorNumber tienen más de un VendorName
print(f"Number of VendorNumber with more than one unique VendorName: {count_VendorName_vf}")

Empty DataFrame
Columns: [VendorNumber, VendorName]
Index: []
Number of VendorNumber with more than one unique VendorName: 0

In [311]:
# Agrupar por 'Brand' y contar los valores únicos de 'Size'
df_grouped_pp8 = df_PurchasePrices.groupby('Brand')['Size'].nunique().reset_index()

# Filtrar los casos donde hay más de un valor único de 'Size'
df_multiple_class = df_grouped_pp8[df_grouped_pp8['Size'] > 1]

# Ver cuántos Brand tienen más de un Size
count_class= df_multiple_class.shape[0]

# Mostrar los Brand con más de un Size
print(df_multiple_class[['Brand', 'Size']])

# Mostrar cuántos Brand tienen más de un Size
print(f"Number of Brand with more than one unique Size: {count_class}")

Empty DataFrame
Columns: [Brand, Size]
Index: []
Number of Brand with more than one unique Size: 0

In [312]:
# Agrupar por 'Brand' y contar los valores únicos de 'Classification'
df_grouped_pp8 = df_PurchasePrices.groupby('Brand')['Classification'].nunique().reset_index()

# Filtrar los casos donde hay más de un valor único de 'Classification'
df_multiple_class = df_grouped_pp8[df_grouped_pp8['Classification'] > 1]

# Ver cuántos Brand tienen más de un Classification
count_class= df_multiple_class.shape[0]

# Mostrar los Brand con más de un Classification
print(df_multiple_class[['Brand', 'Classification']])

# Mostrar cuántos Brand tienen más de un Classification
print(f"Number of Brand with more than one unique Classification: {count_class}")

Empty DataFrame
Columns: [Brand, Classification]
Index: []
Number of Brand with more than one unique Classification: 0

In [313]:
# Agrupar por 'Brand' y contar los valores únicos de 'Description'
df_grouped_pp8 = df_PurchasePrices.groupby('Brand')['Description'].nunique().reset_index()

# Filtrar los casos donde hay más de un valor único de 'Description'
df_multiple_class = df_grouped_pp8[df_grouped_pp8['Description'] > 1]

# Ver cuántos Brand tienen más de un Description
count_class= df_multiple_class.shape[0]

# Mostrar los Brand con más de un Description
print(df_multiple_class[['Brand', 'Description']])

# Mostrar cuántos Brand tienen más de un Description
print(f"Number of Brand with more than one unique Description: {count_class}")

Empty DataFrame
Columns: [Brand, Description]
Index: []
Number of Brand with more than one unique Description: 0

In [314]:
# Agrupar por 'Brand' y contar los valores únicos de 'PurchasePrice'
df_grouped_pp8 = df_PurchasePrices.groupby('Brand')['PurchasePrice'].nunique().reset_index()

# Filtrar los casos donde hay más de un valor único de 'PurchasePrice'
df_multiple_class = df_grouped_pp8[df_grouped_pp8['PurchasePrice'] > 1]

# Ver cuántos Brand tienen más de un PurchasePrice
count_class= df_multiple_class.shape[0]

# Mostrar los Brand con más de un PurchasePrice
print(df_multiple_class[['Brand', 'PurchasePrice']])

# Mostrar cuántos Brand tienen más de un PurchaisePrice
print(f"Number of Brand with more than one unique PurchasePrice: {count_class}")

Empty DataFrame
Columns: [Brand, PurchasePrice]
Index: []
Number of Brand with more than one unique PurchasePrice: 0

In [315]:
# Agrupar por 'Brand' y contar los valores únicos de 'VendorNumber'
df_grouped_pp8 = df_PurchasePrices.groupby('Brand')['VendorNumber'].nunique().reset_index()

# Filtrar los casos donde hay más de un valor único de 'VendorNumber'
df_multiple_class = df_grouped_pp8[df_grouped_pp8['VendorNumber'] > 1]

# Ver cuántos Brand tienen más de un VendorNumber
count_class= df_multiple_class.shape[0]

# Mostrar los Brand con más de un VendorNumber
print(df_multiple_class[['Brand', 'VendorNumber']])

# Mostrar cuántos Brand tienen más de un VendorNumber
print(f"Number of Brand with more than one unique VendorNumber: {count_class}")

Empty DataFrame
Columns: [Brand, VendorNumber]
Index: []
Number of Brand with more than one unique VendorNumber: 0

In [316]:
# Agrupar por 'Brand' y contar los valores únicos de 'VendorName'
df_grouped_pp8 = df_PurchasePrices.groupby('Brand')['VendorName'].nunique().reset_index()

# Filtrar los casos donde hay más de un valor único de 'VendorName'
df_multiple_class = df_grouped_pp8[df_grouped_pp8['VendorName'] > 1]

# Ver cuántos Brand tienen más de un VendorName
count_class= df_multiple_class.shape[0]

# Mostrar los Brand con más de un VendorName
print(df_multiple_class[['Brand', 'VendorName']])

# Mostrar cuántos Brand tienen más de un VendorNumber
print(f"Number of Brand with more than one unique VendorName: {count_class}")

Empty DataFrame
Columns: [Brand, VendorName]
Index: []
Number of Brand with more than one unique VendorName: 0

In [317]:
# Agrupar por 'Brand' y contar los valores únicos de 'Volume'
df_grouped_pp8 = df_PurchasePrices.groupby('Brand')['Volume'].nunique().reset_index()

# Filtrar los casos donde hay más de un valor único de 'Volume'
df_multiple_class = df_grouped_pp8[df_grouped_pp8['Volume'] > 1]

# Ver cuántos Brand tienen más de un Volume
count_class= df_multiple_class.shape[0]

# Mostrar los Brand con más de un Volume
print(df_multiple_class[['Brand', 'Volume']])

# Mostrar cuántos Brand tienen más de un Volume
print(f"Number of Brand with more than one unique Volume: {count_class}")

Empty DataFrame
Columns: [Brand, Volume]
Index: []
Number of Brand with more than one unique Volume: 0

In [318]:
# Agrupar por 'Brand' y contar los valores únicos de 'Price'
df_grouped_pp8 = df_PurchasePrices.groupby('Brand')['Price'].nunique().reset_index()

# Filtrar los casos donde hay más de un valor único de 'Price'
df_multiple_class = df_grouped_pp8[df_grouped_pp8['Price'] > 1]

# Ver cuántos Brand tienen más de un Price
count_class= df_multiple_class.shape[0]

# Mostrar los Brand con más de un Price
print(df_multiple_class[['Brand', 'Price']])

# Mostrar cuántos Brand tienen más de un Price
print(f"Number of Brand with more than one unique Price: {count_class}")

Empty DataFrame
Columns: [Brand, Price]
Index: []
Number of Brand with more than one unique Price: 0

In [350]:
df_PurchasesFinal.columns

Index(['InventoryId', 'Store', 'Brand', 'Description', 'Size', 'VendorNumber',
       'VendorName', 'PONumber', 'PODate', 'ReceivingDate', 'InvoiceDate',
       'PayDate', 'PurchasePrice', 'Quantity', 'Dollars', 'Classification'],
      dtype='object')

In [351]:
df_PurchasesFinal.shape

(2372474, 16)

In [357]:
df_PurchasesFinal['InventoryId'].value_counts()

InventoryId
73_DONCASTER_8068     180
73_DONCASTER_3545     178
76_DONCASTER_1233     175
76_DONCASTER_5364     174
67_EANVERNESS_3545    171
                     ...
76_DONCASTER_1074       1
23_ARBINGTON_1074       1
15_WANBORNE_1069        1
52_GRAYCOTT_759         1
74_PAENTMARWY_3907      1
Name: count, Length: 245907, dtype: int64

### CONCLUSION: Usamos el dataframe PurchaisePrices ya corregido para crear nuestras tablas DIMENSIONALES

In [319]:
df_PurchasePrices.head()

,Brand,Description,Price,Size,Volume,Classification,PurchasePrice,VendorNumber,VendorName
0,58,Gekkeikan Black & Gold Sake,12.99,750mL,750,1,9.28,8320,SHAW ROSS INT L IMP LTD
1,62,Herradura Silver Tequila,36.99,750mL,750,1,28.67,1128,BROWN-FORMAN CORP
2,63,Herradura Reposado Tequila,38.99,750mL,750,1,30.46,1128,BROWN-FORMAN CORP
3,72,No. 3 London Dry Gin,34.99,750mL,750,1,26.11,9165,ULTRA BEVERAGE COMPANY LLP
4,75,Three Olives Tomato Vodka,14.99,750mL,750,1,10.94,7245,PROXIMO SPIRITS INC.

### Creamos la tabla Detalle_Brand

In [447]:
# Extraer valores únicos de todas las columnas de PurchasePrice
Detalle_Brand = df_PurchasePrices[['Brand', 'Description', 'Price', 'Size', 'Volume', 'Classification', 'PurchasePrice', 'VendorNumber', 'VendorName']].drop_duplicates().reset_index(drop=True)

#### Creamos el ID

In [448]:
# Generar BrandID en Detalle_Brand
Detalle_Brand['BrandID'] = Detalle_Brand.index + 1

In [449]:
Detalle_Brand.shape

(12248, 10)

In [450]:
Detalle_Brand.columns

Index(['Brand', 'Description', 'Price', 'Size', 'Volume', 'Classification',
       'PurchasePrice', 'VendorNumber', 'VendorName', 'BrandID'],
      dtype='object')

In [451]:
Detalle_Brand.dtypes

Brand               int64
Description        object
Price             float64
Size               object
Volume             object
Classification      int64
PurchasePrice     float64
VendorNumber        int64
VendorName         object
BrandID             int64
dtype: object

### Creamos mas tablas Dim de la tabla Detalle_Brand

#### Creamos la tabla DimDescription

In [366]:
# Extraer valores únicos de todas las columnas de DimBrand
DimDescription = Detalle_Brand[['Description']].drop_duplicates().reset_index(drop=True)

#### Creamos el ID

In [367]:
# Generar DescriptionId en DimDescription
DimDescription['DescriptionID'] = DimDescription.index + 1

In [368]:
DimDescription.shape

(11102, 2)

In [369]:
DimDescription.columns

Index(['Description', 'DescriptionID'], dtype='object')

In [370]:
DimDescription.dtypes

Description      object
DescriptionID     int64
dtype: object

#### Creamos la tabla DimSize

In [371]:
# Extraer valores únicos de todas las columnas de DimBrand
DimSize = Detalle_Brand[['Size']].drop_duplicates().reset_index(drop=True)

#### Creamos el ID

In [373]:
# Generar SizeID en DimSize
DimSize['SizeID'] = DimSize.index + 1

In [374]:
DimSize.shape

(56, 2)

In [375]:
DimSize.columns

Index(['Size', 'SizeID'], dtype='object')

In [376]:
DimSize.dtypes

Size      object
SizeID     int64
dtype: object

#### Creamos la tabla DimClassification

In [377]:
# Extraer valores únicos de todas las columnas de DimBrand
DimClassification = Detalle_Brand[['Classification']].drop_duplicates().reset_index(drop=True)

#### Creamos el ID

In [378]:
# Generar ClassID en DimClassification
DimClassification['ClassID'] = DimClassification.index + 1

In [379]:
DimClassification.shape

(2, 2)

In [380]:
DimClassification.columns

Index(['Classification', 'ClassID'], dtype='object')

In [381]:
DimClassification.dtypes

Classification    int64
ClassID           int64
dtype: object

#### Creamos la tabla DimVendor

In [496]:
# Extraer valores únicos de todas las columnas de DimBrand
DimVendor = Detalle_Brand[['VendorNumber','VendorName']].drop_duplicates().reset_index(drop=True)

In [497]:
Detalle_Brand['VendorNumber'].value_counts()

VendorNumber
4425     1639
9165      965
9552      960
10754     897
3252      527
         ...
99166       1
9099        1
54          1
90059       1
5083        1
Name: count, Length: 131, dtype: int64

In [498]:
DimVendor['VendorNumber'].value_counts()

VendorNumber
8320     1
1128     1
9165     1
7245     1
8112     1
        ..
9099     1
3551     1
54       1
90059    1
5083     1
Name: count, Length: 131, dtype: int64

In [499]:
df_InvoicePurchases['VendorNumber'].value_counts()

VendorNumber
4425      82
2000      67
1587      58
4380      55
516       55
          ..
1439       1
201359     1
9099       1
4901       1
54         1
Name: count, Length: 126, dtype: int64

#### Creamos el ID

In [500]:
# Generar VendorID en DimVendor
DimVendor['VendorID'] = DimVendor.index + 1

In [501]:
DimVendor.columns

Index(['VendorNumber', 'VendorName', 'VendorID'], dtype='object')

### Guardamos nuestras tablas Dim Creadas

In [452]:
Detalle_Brand.to_csv('Detalle_Brand.csv', index=False)

In [392]:
DimDescription.to_csv('Dim_Description.csv', index=False)

In [393]:
DimSize.to_csv('Dim_Size.csv', index=False)

In [394]:
DimClassification.to_csv('Dim_Class.csv', index=False)

In [502]:
DimVendor.to_csv('Dim_Vendor.csv', index=False)

### Volvemos a cargar lo que vamos a usar

In [453]:
Detalle_Brand= pd.read_csv('Detalle_Brand.csv')

In [398]:
DimDescription= pd.read_csv('Dim_Description.csv')

In [399]:
DimSize= pd.read_csv('Dim_Size.csv')

In [400]:
DimClassification = pd.read_csv('Dim_Class.csv')

In [503]:
DimVendor = pd.read_csv('Dim_Vendor.csv')

#### Insertamos BrandID en las tablas de hechos df_SalesFinal y df_PurchasesFinal y borramos las columnas redundantes y filas vacias/nulas

In [403]:
df_SalesFinal.columns

Index(['InventoryId', 'Store', 'Brand', 'Description', 'Size', 'SalesQuantity',
       'SalesDollars', 'SalesPrice', 'SalesDate', 'Volume', 'Classification',
       'ExciseTax', 'VendorNo', 'VendorName'],
      dtype='object')

In [405]:
df_SalesFinal.shape

(1048575, 14)

In [454]:
Detalle_Brand.columns

Index(['Brand', 'Description', 'Price', 'Size', 'Volume', 'Classification',
       'PurchasePrice', 'VendorNumber', 'VendorName', 'BrandID'],
      dtype='object')

In [455]:
# Realizar un merge entre df_PurchasesFinal y df_SalesFinal y Detalle_brand basándose en BrandID y Brand
df_SalesFinal = df_SalesFinal.merge(Detalle_Brand[['BrandID','Brand']], left_on='Brand', right_on='Brand', how='left')
df_PurchasesFinal = df_PurchasesFinal.merge(Detalle_Brand[['BrandID','Brand']], left_on='Brand', right_on='Brand', how='left')

In [456]:
df_SalesFinal.columns

Index(['InventoryId', 'Store', 'Brand', 'Description', 'Size', 'SalesQuantity',
       'SalesDollars', 'SalesPrice', 'SalesDate', 'Volume', 'Classification',
       'ExciseTax', 'VendorNo', 'VendorName', 'BrandID'],
      dtype='object')

In [457]:
df_PurchasesFinal.columns

Index(['InventoryId', 'Store', 'Brand', 'Description', 'Size', 'VendorNumber',
       'VendorName', 'PONumber', 'PODate', 'ReceivingDate', 'InvoiceDate',
       'PayDate', 'PurchasePrice', 'Quantity', 'Dollars', 'Classification',
       'BrandID'],
      dtype='object')

In [458]:
# Elimino la columna 'Brand'
df_SalesFinal = df_SalesFinal.drop(columns=['Brand'])
df_PurchasesFinal = df_PurchasesFinal.drop(columns=['Brand'])

#### Reviso que no tenga datos nulos, en caso se encontrar los eliminamos

In [459]:
total_nulos_salesfinal = df_SalesFinal.isnull().sum()[df_SalesFinal.isnull().sum()>0]
print(total_nulos_salesfinal)

Series([], dtype: int64)

In [460]:
total_nulos_purchasesfinal = df_PurchasesFinal.isnull().sum()[df_PurchasesFinal.isnull().sum()>0]
print(total_nulos_purchasesfinal)

BrandID    215
dtype: int64

In [461]:
print(df_PurchasesFinal[df_PurchasesFinal['BrandID'].isnull()])

                 InventoryId  Store        Description   Size  VendorNumber  \
1593834     54_GUTHRAM_27276     54     Zaccagnini Rsl  750mL          2000
1593835   76_DONCASTER_27276     76     Zaccagnini Rsl  750mL          2000
1593836  66_EANVERNESS_27276     66     Zaccagnini Rsl  750mL          2000
1593837     33_HORNSEY_27276     33     Zaccagnini Rsl  750mL          2000
1593838  67_EANVERNESS_27276     67     Zaccagnini Rsl  750mL          2000
...                      ...    ...                ...    ...           ...
2254855   73_DONCASTER_27764     73  Warre's Port 2000  375mL          1587
2254856   55_DRY GULCH_27764     55  Warre's Port 2000  375mL          1587
2254857   50_MOUNTMEND_27764     50  Warre's Port 2000  375mL          1587
2254858   69_MOUNTMEND_27764     69  Warre's Port 2000  375mL          1587
2310907   38_GOULCREST_27765     38  Warre's Port 2003  375mL          1587

                         VendorName  PONumber      PODate ReceivingDate  \
1593834  SOUTHERN GLAZERS W&S OF NE     11896  2016-08-31    2016-09-09
1593835  SOUTHERN GLAZERS W&S OF NE     11896  2016-08-31    2016-09-08
1593836  SOUTHERN GLAZERS W&S OF NE     11896  2016-08-31    2016-09-09
1593837  SOUTHERN GLAZERS W&S OF NE     11896  2016-08-31    2016-09-08
1593838  SOUTHERN GLAZERS W&S OF NE     11896  2016-08-31    2016-09-08
...                             ...       ...         ...           ...
2254855         VINEYARD BRANDS LLC     13371  2016-12-05    2016-12-16
2254856         VINEYARD BRANDS LLC     13371  2016-12-05    2016-12-15
2254857         VINEYARD BRANDS LLC     13371  2016-12-05    2016-12-16
2254858         VINEYARD BRANDS LLC     13371  2016-12-05    2016-12-16
2310907         VINEYARD BRANDS LLC     13482  2016-12-12    2016-12-20

        InvoiceDate     PayDate  PurchasePrice  Quantity  Dollars  \
1593834  2016-09-17  2016-10-21           6.12        48   293.76
1593835  2016-09-17  2016-10-21           6.12        84   514.08
1593836  2016-09-17  2016-10-21           6.12        84   514.08
1593837  2016-09-17  2016-10-21           6.12        72   440.64
1593838  2016-09-17  2016-10-21           6.12        84   514.08
...             ...         ...            ...       ...      ...
2254855  2016-12-27  2017-01-21          24.99        12   299.88
2254856  2016-12-27  2017-01-21          24.99        12   299.88
2254857  2016-12-27  2017-01-21          24.99        24   599.76
2254858  2016-12-27  2017-01-21          24.99        12   299.88
2310907  2016-12-27  2017-02-06          23.33        11   256.63

         Classification  BrandID
1593834               2      NaN
1593835               2      NaN
1593836               2      NaN
1593837               2      NaN
1593838               2      NaN
...                 ...      ...
2254855               2      NaN
2254856               2      NaN
2254857               2      NaN
2254858               2      NaN
2310907               2      NaN

[215 rows x 16 columns]

In [462]:
# Borramos las filas que tienen BrandID = NaN
df_PurchasesFinal = df_PurchasesFinal.dropna(subset=['BrandID'])

In [463]:
# Verificamos nuevamente si quedan nulos
total_nulos_purchasesfinal = df_PurchasesFinal.isnull().sum()[df_PurchasesFinal.isnull().sum() > 0]
print(total_nulos_purchasesfinal)

Series([], dtype: int64)

In [464]:
# Mostrar el DataFrame actualizado
df_PurchasesFinal.shape

(2372259, 16)

#### Insertamos DescriptionID en la tabla de hechos df_SalesFinal y df_PurchasesFinal y borramos las columnas redundantes o filas nulas/vacias

In [465]:
df_SalesFinal.columns

Index(['InventoryId', 'Store', 'Description', 'Size', 'SalesQuantity',
       'SalesDollars', 'SalesPrice', 'SalesDate', 'Volume', 'Classification',
       'ExciseTax', 'VendorNo', 'VendorName', 'BrandID'],
      dtype='object')

In [466]:
df_PurchasesFinal.columns

Index(['InventoryId', 'Store', 'Description', 'Size', 'VendorNumber',
       'VendorName', 'PONumber', 'PODate', 'ReceivingDate', 'InvoiceDate',
       'PayDate', 'PurchasePrice', 'Quantity', 'Dollars', 'Classification',
       'BrandID'],
      dtype='object')

In [467]:
# Realizar un merge entre df_PurchasesFinal y df_SalesFinal con DimDescription basándose en la columna Description
df_SalesFinal = df_SalesFinal.merge(DimDescription[['DescriptionID','Description']], left_on='Description', right_on='Description', how='left')
df_PurchasesFinal = df_PurchasesFinal.merge(DimDescription[['DescriptionID','Description']], left_on='Description', right_on='Description', how='left')

In [468]:
# Elimino la columna 'Description'
df_SalesFinal = df_SalesFinal.drop(columns=['Description'])
df_PurchasesFinal = df_PurchasesFinal.drop(columns=['Description'])

#### Reviso que no tenga datos nulos, en caso se encontrar los eliminamos

In [469]:
total_nulos_salesfinal = df_SalesFinal.isnull().sum()[df_SalesFinal.isnull().sum()>0]
print(total_nulos_salesfinal)

Series([], dtype: int64)

In [470]:
total_nulos_purchasesfinal = df_PurchasesFinal.isnull().sum()[df_PurchasesFinal.isnull().sum()>0]
print(total_nulos_purchasesfinal)

Series([], dtype: int64)

In [471]:
# Mostrar el DataFrame actualizado
df_SalesFinal.columns

Index(['InventoryId', 'Store', 'Size', 'SalesQuantity', 'SalesDollars',
       'SalesPrice', 'SalesDate', 'Volume', 'Classification', 'ExciseTax',
       'VendorNo', 'VendorName', 'BrandID', 'DescriptionID'],
      dtype='object')

In [472]:
# Mostrar el DataFrame actualizado
df_PurchasesFinal.columns

Index(['InventoryId', 'Store', 'Size', 'VendorNumber', 'VendorName',
       'PONumber', 'PODate', 'ReceivingDate', 'InvoiceDate', 'PayDate',
       'PurchasePrice', 'Quantity', 'Dollars', 'Classification', 'BrandID',
       'DescriptionID'],
      dtype='object')

#### Insertamos SizeID en la tabla de hechos df_SalesFinal y df_PurchasesFinal y borramos las columnas redundantes o filas nulas/vacias

In [473]:
# Realizar un merge entre df_PurchasesFinal y df_SalesFinal con DimSize basándose en la columna Size
df_SalesFinal = df_SalesFinal.merge(DimSize[['SizeID','Size']], left_on='Size', right_on='Size', how='left')
df_PurchasesFinal = df_PurchasesFinal.merge(DimSize[['SizeID','Size']], left_on='Size', right_on='Size', how='left')

In [474]:
# Elimino la columna 'Size'
df_SalesFinal = df_SalesFinal.drop(columns=['Size'])
df_PurchasesFinal = df_PurchasesFinal.drop(columns=['Size'])

#### Reviso que no tenga datos nulos, en caso se encontrar los eliminamos

In [475]:
total_nulos_salesfinal = df_SalesFinal.isnull().sum()[df_SalesFinal.isnull().sum()>0]
print(total_nulos_salesfinal)

SizeID    283935
dtype: int64

In [476]:
total_nulos_purchasesfinal = df_PurchasesFinal.isnull().sum()[df_PurchasesFinal.isnull().sum()>0]
print(total_nulos_purchasesfinal)

SizeID    987037
dtype: int64

In [482]:
# Borramos las filas que tienen SizeID = NaN
df_SalesFinal = df_SalesFinal.dropna(subset=['SizeID'])

In [483]:
# Borramos las filas que tienen SizeID = NaN
df_PurchasesFinal = df_PurchasesFinal.dropna(subset=['SizeID'])

In [484]:
# Verificamos nuevamente si quedan nulos
total_nulos_salesfinal = df_SalesFinal.isnull().sum()[df_SalesFinal.isnull().sum() > 0]
print(total_nulos_salesfinal)

Series([], dtype: int64)

In [485]:
# Verificamos nuevamente si quedan nulos
total_nulos_purchasesfinal = df_PurchasesFinal.isnull().sum()[df_PurchasesFinal.isnull().sum() > 0]
print(total_nulos_purchasesfinal)

Series([], dtype: int64)

In [486]:
df_SalesFinal.shape

(764640, 14)

In [487]:
df_PurchasesFinal.shape

(1385222, 16)

#### Insertamos ClassificationID en la tabla de hechos df_SalesFinal y df_PurchasesFinal y borramos las columnas redundantes o filas nulas/vacias

In [488]:
DimClassification.columns

Index(['Classification', 'ClassID'], dtype='object')

In [489]:
# Realizar un merge entre df_PurchasesFinal y df_SalesFinal con DimClassification basándose en la columna Classification
df_SalesFinal = df_SalesFinal.merge(DimClassification[['ClassID','Classification']], left_on='Classification', right_on='Classification', how='left')
df_PurchasesFinal = df_PurchasesFinal.merge(DimClassification[['ClassID','Classification']], left_on='Classification', right_on='Classification', how='left')

In [490]:
# Elimino la columna 'Classification'
df_SalesFinal = df_SalesFinal.drop(columns=['Classification'])
df_PurchasesFinal = df_PurchasesFinal.drop(columns=['Classification'])

#### Reviso que no tenga datos nulos, en caso se encontrar los eliminamos

In [491]:
total_nulos_salesfinal = df_SalesFinal.isnull().sum()[df_SalesFinal.isnull().sum()>0]
print(total_nulos_salesfinal)

Series([], dtype: int64)

In [492]:
total_nulos_purchasesfinal = df_PurchasesFinal.isnull().sum()[df_PurchasesFinal.isnull().sum()>0]
print(total_nulos_purchasesfinal)

Series([], dtype: int64)

#### Insertamos VendorID en la tabla de hechos df_SalesFinal y df_PurchasesFinal y borramos las columnas redundantes o filas nulas/vacias

In [504]:
DimVendor.columns

Index(['VendorNumber', 'VendorName', 'VendorID'], dtype='object')

In [505]:
df_SalesFinal.columns

Index(['InventoryId', 'Store', 'SalesQuantity', 'SalesDollars', 'SalesPrice',
       'SalesDate', 'Volume', 'ExciseTax', 'VendorNo', 'VendorName', 'BrandID',
       'DescriptionID', 'SizeID', 'ClassID'],
      dtype='object')

In [506]:
df_PurchasesFinal.columns

Index(['InventoryId', 'Store', 'VendorNumber', 'VendorName', 'PONumber',
       'PODate', 'ReceivingDate', 'InvoiceDate', 'PayDate', 'PurchasePrice',
       'Quantity', 'Dollars', 'BrandID', 'DescriptionID', 'SizeID', 'ClassID'],
      dtype='object')

In [507]:
# Realizar un merge entre df_PurchasesFinal y df_SalesFinal con DimVendor basándonos en la columna VendorNumber
df_SalesFinal = df_SalesFinal.merge(DimVendor[['VendorNumber', 'VendorID']], left_on='VendorNo', right_on='VendorNumber', how='left')
df_PurchasesFinal = df_PurchasesFinal.merge(DimVendor[['VendorNumber', 'VendorID']], left_on='VendorNumber', right_on='VendorNumber', how='left')

In [508]:
# Elimino las columnas 'VendorNo', 'VendorNumber' y 'Vendorname'
df_SalesFinal = df_SalesFinal.drop(columns=['VendorName','VendorNo'])
df_PurchasesFinal = df_PurchasesFinal.drop(columns=['VendorName','VendorNumber'])

#### Revisamos nuestras tablas de hechos

In [509]:
df_SalesFinal.columns

Index(['InventoryId', 'Store', 'SalesQuantity', 'SalesDollars', 'SalesPrice',
       'SalesDate', 'Volume', 'ExciseTax', 'BrandID', 'DescriptionID',
       'SizeID', 'ClassID', 'VendorNumber', 'VendorID'],
      dtype='object')

In [512]:
# Elimino la columna 'VendorNumber'
df_SalesFinal = df_SalesFinal.drop(columns=['VendorNumber'])

#### Reviso que no tenga datos nulos, en caso se encontrar los eliminamos

In [531]:
total_nulos_salesfinal = df_SalesFinal.isnull().sum()[df_SalesFinal.isnull().sum()>0]
print(total_nulos_salesfinal)

Series([], dtype: int64)

In [532]:
total_nulos_purchasesfinal = df_PurchasesFinal.isnull().sum()[df_PurchasesFinal.isnull().sum()>0]
print(total_nulos_purchasesfinal)

Series([], dtype: int64)

### Guardamos PurchasesFinal y SalesFinal con los nuevos cambios realizados y volvemos a abrir

#### Guardamos

In [517]:
df_SalesFinal.to_csv('Fact_Sales_paso2.csv', index=False)

In [518]:
df_PurchasesFinal.to_csv('Fact_Purchases_paso2.csv', index=False)

#### Abrimos lo que vamos a seguir usando

In [519]:
df_SalesFinal= pd.read_csv('Fact_Sales_paso2.csv')

In [520]:
df_PurchasesFinal.to_csv('Fact_Purchases_paso2.csv', index=False)

#### Tabla PurchaseFinal

In [521]:
df_PurchasesFinal.shape

(1385222, 15)

#### Tabla SalesFinal

In [522]:
df_SalesFinal.shape

(764640, 13)

### Insertamos las PK de nuestras tablas dimensionales a la tabla Detalle_Brand

In [530]:
Detalle_Brand.dtypes

Brand               int64
Description        object
Price             float64
Size               object
Volume             object
Classification      int64
PurchasePrice     float64
VendorNumber        int64
VendorName         object
BrandID             int64
dtype: object

#### Insertamos DescriptionID a la tabla Detalle_Brand

In [533]:
# Realizar un merge entre Detalle_Brand con DimDescription basándose en la columna Description
Detalle_Brand = Detalle_Brand.merge(DimDescription[['DescriptionID','Description']], left_on='Description', right_on='Description', how='left')

In [534]:
# Elimino la columna 'Description'
Detalle_Brand = Detalle_Brand.drop(columns=['Description'])

#### Reviso que no tenga datos nulos, en caso se encontrar los eliminamos

In [535]:
total_nulos_detalle_brand = Detalle_Brand.isnull().sum()[Detalle_Brand.isnull().sum()>0]
print(total_nulos_detalle_brand)

Series([], dtype: int64)

#### Insertamos SizeID a la tabla Detalle_Brand

In [536]:
# Realizar un merge entre Detalle_Brand con DimSize basándose en la columna Size
Detalle_Brand = Detalle_Brand.merge(DimSize[['SizeID','Size']], left_on='Size', right_on='Size', how='left')

In [537]:
# Elimino la columna 'Size'
Detalle_Brand = Detalle_Brand.drop(columns=['Size'])

#### Reviso que no tenga datos nulos, en caso se encontrar los eliminamos

In [538]:
total_nulos_detalle_brand = Detalle_Brand.isnull().sum()[Detalle_Brand.isnull().sum()>0]
print(total_nulos_detalle_brand)

Series([], dtype: int64)

#### Insertamos ClassID a la tabla Detalle_Brand

In [540]:
# Realizar un merge entre Detalle_Brand con DimClassification basándose en la columna Classification
Detalle_Brand = Detalle_Brand.merge(DimClassification[['ClassID','Classification']], left_on='Classification', right_on='Classification', how='left')

In [541]:
# Elimino la columna 'Description'
Detalle_Brand = Detalle_Brand.drop(columns=['Classification'])

#### Reviso que no tenga datos nulos, en caso se encontrar los eliminamos

In [542]:
total_nulos_detalle_brand = Detalle_Brand.isnull().sum()[Detalle_Brand.isnull().sum()>0]
print(total_nulos_detalle_brand)

Series([], dtype: int64)

#### Insertamos VendorID a la tabla Detalle_Brand

In [544]:
# Realizar un merge entre Detalle_Brand con DimVendor basándose en la columna VendorNumber
Detalle_Brand = Detalle_Brand.merge(DimVendor[['VendorID','VendorNumber']], left_on='VendorNumber', right_on='VendorNumber', how='left')

In [545]:
# Elimino la columna 'Description'
Detalle_Brand = Detalle_Brand.drop(columns=['VendorNumber'])

#### Reviso que no tenga datos nulos, en caso se encontrar los eliminamos

In [546]:
total_nulos_detalle_brand = Detalle_Brand.isnull().sum()[Detalle_Brand.isnull().sum()>0]
print(total_nulos_detalle_brand)

Series([], dtype: int64)

#### Revisamos nuestra tabla

In [547]:
Detalle_Brand.shape

(12248, 10)

In [548]:
Detalle_Brand.dtypes

Brand              int64
Price            float64
Volume            object
PurchasePrice    float64
VendorName        object
BrandID            int64
DescriptionID      int64
SizeID             int64
ClassID            int64
VendorID           int64
dtype: object

## Guardamos nuestra Tabla Detalle_Brand

In [549]:
Detalle_Brand.to_csv('Detalle_Brand.csv', index=False)

## Analisis de Tabla Inventory

In [523]:
df_Inventory.shape

(431018, 9)

In [553]:
df_Inventory.columns

Index(['InventoryId', 'Store', 'City', 'Brand', 'Description', 'Size',
       'onHand', 'Price', 'InventoryDate'],
      dtype='object')

## Abrimos nuevamente nuestros archivos

In [2]:
import pandas as pd
import numpy as np

In [3]:
Detalle_Brand=pd.read_csv('Detalle_Brand.csv')

In [4]:
Detalle_Brand.columns

Index(['Brand', 'Price', 'Volume', 'PurchasePrice', 'VendorName', 'BrandID',
       'DescriptionID', 'SizeID', 'ClassID', 'VendorID'],
      dtype='object')

In [5]:
df_Inventory=pd.read_csv('Fact_Inventory_paso1.csv')

In [6]:
df_SalesFinal=pd.read_csv('Fact_Sales_paso2.csv')

In [7]:
df_PurchasesFinal= pd.read_csv('Fact_Purchases_paso2.csv')

#### Revisamos la data

In [8]:
df_Inventory.columns

Index(['InventoryId', 'Store', 'City', 'Brand', 'Description', 'Size',
       'onHand', 'Price', 'InventoryDate'],
      dtype='object')

In [9]:
df_SalesFinal.columns

Index(['InventoryId', 'Store', 'SalesQuantity', 'SalesDollars', 'SalesPrice',
       'SalesDate', 'Volume', 'ExciseTax', 'BrandID', 'DescriptionID',
       'SizeID', 'ClassID', 'VendorID'],
      dtype='object')

In [10]:
df_PurchasesFinal.columns

Index(['InventoryId', 'Store', 'PONumber', 'PODate', 'ReceivingDate',
       'InvoiceDate', 'PayDate', 'PurchasePrice', 'Quantity', 'Dollars',
       'BrandID', 'DescriptionID', 'SizeID', 'ClassID', 'VendorID'],
      dtype='object')

In [11]:
df_Inventory['Store'].value_counts()

Store
34    12468
69    11124
50    10782
73    10686
67    10320
      ...
29     2736
45     2639
16     2593
28     2095
3       944
Name: count, Length: 80, dtype: int64

In [12]:
df_SalesFinal['Store'].value_counts()

Store
15    27976
76    26743
1     26508
34    26400
10    25511
      ...
36     2369
37     2197
29     1721
3      1217
26     1083
Name: count, Length: 79, dtype: int64

In [13]:
df_PurchasesFinal['Store'].value_counts()

Store
76    83194
73    65244
38    62154
34    57470
66    57094
      ...
46     3418
36     3260
29     2562
3      1795
26     1742
Name: count, Length: 80, dtype: int64

## Generacion de tabla DimStore

In [23]:
# Extraer valores únicos de todas las columnas de df_Inventory
DimStore = df_Inventory[['Store','City']].drop_duplicates().reset_index(drop=True)

In [24]:
DimStore['Store'].value_counts()

Store
1     1
2     1
3     1
4     1
5     1
     ..
76    1
77    1
78    1
79    1
81    1
Name: count, Length: 80, dtype: int64

In [21]:
df_Inventory['City'].value_counts()

City
MOUNTMEND       32329
EANVERNESS      25890
DONCASTER       20921
HORNSEY         20199
GOULCREST       15991
                ...
LUTON            2861
KNIFE'S EDGE     2741
AYLESBURY        2736
VERITAS          2639
LUNDY            2593
Name: count, Length: 68, dtype: int64

#### Creamos el ID

In [25]:
# Generar StoreID en DimStore
DimStore['StoreID'] = DimStore.index + 1

In [26]:
DimStore.dtypes

Store       int64
City       object
StoreID     int64
dtype: object

### Guardamos nuestra tabla Dim Creada

In [ ]:
DimStore.to_csv('Dim_Store.csv', index=False)

### Volvemos a cargar lo que vamos a usar

In [15]:
DimStore= pd.read_csv('Dim_Store.csv')

In [16]:
DimStore.columns

Index(['Store', 'City', 'StoreID'], dtype='object')

#### Insertamos StoreID en las tablas de hechos df_SalesFinal, df_PurchasesFinal y df_Inventory y borramos las columnas redundantes y filas vacias/nulas

In [17]:
# Realizar un merge entre df_PurchasesFinal, df_SalesFinal y df_Inventory basándose en StoreID y Store
df_Inventory = df_Inventory.merge(DimStore[['StoreID','Store']],left_on='Store', right_on='Store', how='left')
df_SalesFinal = df_SalesFinal.merge(DimStore[['StoreID','Store']], left_on='Store', right_on='Store', how='left')
df_PurchasesFinal = df_PurchasesFinal.merge(DimStore[['StoreID','Store']], left_on='Store', right_on='Store', how='left')

#### Revisión previa de la tabla DImStore

In [18]:
# Agrupar por 'Store' y contar los valores únicos de 'City'
df_grouped_DS = DimStore.groupby('Store')['City'].nunique().reset_index()

# Filtrar los casos donde hay más de un valor único de 'City'
df_multiple_city = df_grouped_DS[df_grouped_DS['City'] > 1]

# Ver cuántos Store tienen más de un City
count_city= df_multiple_city.shape[0]

# Mostrar los Store con más de un City
print(df_multiple_city[['Store', 'City']])

# Mostrar cuántos Store tienen más de un City
print(f"Number of Store with more than one unique City: {count_city}")

Empty DataFrame
Columns: [Store, City]
Index: []
Number of Store with more than one unique City: 0

In [22]:
# Agrupar por 'City' y contar los valores únicos de 'Store'
df_grouped_DS = DimStore.groupby('City')['Store'].nunique().reset_index()

# Filtrar los casos donde hay más de un valor único de 'Store'
df_multiple_store = df_grouped_DS[df_grouped_DS['Store'] > 1]

# Ver cuántos City tienen más de un Store
count_store= df_multiple_store.shape[0]

# Mostrar los City con más de un Store
print(df_multiple_store[['City', 'Store']])

# Mostrar cuántos City tienen más de un Store
print(f"Number of City with more than one unique Store: {count_store}")

            City  Store
21     DONCASTER      2
23    EANVERNESS      3
28     GOULCREST      2
32  HARDERSFIELD      2
35       HORNSEY      4
41      LARNWICK      2
46     MOUNTMEND      4
Number of City with more than one unique Store: 7

## Generacion de tabla DimCity

In [23]:
DimStore['City'].value_counts()

City
HORNSEY         4
MOUNTMEND       4
EANVERNESS      3
HARDERSFIELD    2
LARNWICK        2
               ..
BARNCOMBE       1
TAMWORTH        1
EASTHAVEN       1
BALLYMENA       1
PEMBROKE        1
Name: count, Length: 68, dtype: int64

In [24]:
# Extraer valores únicos de City de todas las columnas de DimStore
DimCity = DimStore[['City']].drop_duplicates().reset_index(drop=True)

In [25]:
DimCity['City'].value_counts()

City
HARDERSFIELD    1
ASHBORNE        1
HORNSEY         1
EANVERNESS      1
SUTTON          1
               ..
BARNCOMBE       1
TAMWORTH        1
EASTHAVEN       1
BALLYMENA       1
PEMBROKE        1
Name: count, Length: 68, dtype: int64

#### Creamos el ID

In [26]:
# Generar CityID en DimCity
DimCity['CityID'] = DimCity.index + 1

In [27]:
DimCity.dtypes

City      object
CityID     int64
dtype: object

### Guardamos nuestra tabla Dim Creada

In [28]:
DimCity.to_csv('Dim_City.csv', index=False)

#### Volvemos a abrir nuestra tabla

In [29]:
DimCity= pd.read_csv('Dim_City.csv')

In [30]:
DimCity.columns

Index(['City', 'CityID'], dtype='object')

#### Insertamos CityID en la tabla DimStore y borramos las columnas redundantes y/o filas vacias/nulas

In [31]:
# Realizar un merge entre DimStore y DimCity basándose en CityID y CIty
DimStore = DimStore.merge(DimCity[['CityID','City']],left_on='City', right_on='City', how='left')

In [32]:
DimStore.columns

Index(['Store', 'City', 'StoreID', 'CityID'], dtype='object')

In [33]:
# Elimino la columna "City" de DimStore
DimStore = DimStore.drop(columns=['City'])
DimStore.columns

Index(['Store', 'StoreID', 'CityID'], dtype='object')

### Guardamos y luego abrimos nuestra tabla DimStore

In [54]:
DimStore.to_csv('Dim_Store.csv', index=False)

In [55]:
DimStore= pd.read_csv('Dim_Store.csv')

In [56]:
DimStore.columns

Index(['Store', 'StoreID', 'CityID'], dtype='object')

### Continuamos con el borrado de la columna Store en las Tablas df_Inventory, df_PurchasesFinal y df_SalesFinal

In [35]:
df_Inventory.columns

Index(['InventoryId', 'Store', 'City', 'Brand', 'Description', 'Size',
       'onHand', 'Price', 'InventoryDate', 'StoreID'],
      dtype='object')

In [36]:
df_PurchasesFinal.columns

Index(['InventoryId', 'Store', 'PONumber', 'PODate', 'ReceivingDate',
       'InvoiceDate', 'PayDate', 'PurchasePrice', 'Quantity', 'Dollars',
       'BrandID', 'DescriptionID', 'SizeID', 'ClassID', 'VendorID', 'StoreID'],
      dtype='object')

In [37]:
df_SalesFinal.columns

Index(['InventoryId', 'Store', 'SalesQuantity', 'SalesDollars', 'SalesPrice',
       'SalesDate', 'Volume', 'ExciseTax', 'BrandID', 'DescriptionID',
       'SizeID', 'ClassID', 'VendorID', 'StoreID'],
      dtype='object')

In [38]:
# Elimino la columna 'Store'
df_Inventory=df_Inventory.drop(columns=['Store'])
df_SalesFinal = df_SalesFinal.drop(columns=['Store'])
df_PurchasesFinal = df_PurchasesFinal.drop(columns=['Store'])


#### Reviso que no tenga datos nulos, en caso se encontrar los eliminamos

In [39]:
total_nulos_salesfinal = df_SalesFinal.isnull().sum()[df_SalesFinal.isnull().sum()>0]
print(total_nulos_salesfinal)

Series([], dtype: int64)

In [40]:
total_nulos_purchasesfinal = df_PurchasesFinal.isnull().sum()[df_PurchasesFinal.isnull().sum()>0]
print(total_nulos_purchasesfinal)

Series([], dtype: int64)

In [41]:
total_nulos_inventory = df_Inventory.isnull().sum()[df_Inventory.isnull().sum()>0]
print(total_nulos_inventory)

Series([], dtype: int64)

### Insertamos 'CityID', 'BrandID', 'DescriptionID', 'SizeID', en la tabla df_Inventory y borramos las columnas redundantes y/o filas vacias/nulas

#### Primero abrimos nuestras Dim

In [46]:
DimDescription= pd.read_csv('Dim_Description.csv')

In [48]:
DimSize=pd.read_csv('Dim_Size.csv')

In [49]:
Detalle_Brand=pd.read_csv('Detalle_Brand.csv')

In [50]:
Detalle_Brand.columns

Index(['Brand', 'Price', 'Volume', 'PurchasePrice', 'VendorName', 'BrandID',
       'DescriptionID', 'SizeID', 'ClassID', 'VendorID'],
      dtype='object')

In [52]:
# Borramos la columna VendorName en la tabla Detalle_Brand
Detalle_Brand=Detalle_Brand.drop(columns=['VendorName'])

In [53]:
Detalle_Brand.columns

Index(['Brand', 'Price', 'Volume', 'PurchasePrice', 'BrandID', 'DescriptionID',
       'SizeID', 'ClassID', 'VendorID'],
      dtype='object')

#### Insertamos todas las Dim en Inventory

In [57]:
# Revisamos las columnas
df_Inventory.columns

Index(['InventoryId', 'City', 'Brand', 'Description', 'Size', 'onHand',
       'Price', 'InventoryDate', 'StoreID'],
      dtype='object')

In [58]:
DimCity.columns

Index(['City', 'CityID'], dtype='object')

In [59]:
Detalle_Brand.columns

Index(['Brand', 'Price', 'Volume', 'PurchasePrice', 'BrandID', 'DescriptionID',
       'SizeID', 'ClassID', 'VendorID'],
      dtype='object')

In [60]:
DimDescription.columns

Index(['Description', 'DescriptionID'], dtype='object')

In [61]:
DimSize.columns

Index(['Size', 'SizeID'], dtype='object')

In [62]:
# Realizar un merge entre las Dim y df_Inventory
df_Inventory = df_Inventory.merge(DimCity[['CityID','City']],left_on='City', right_on='City', how='left')
df_Inventory = df_Inventory.merge(Detalle_Brand[['BrandID','Brand']],left_on='Brand', right_on='Brand', how='left')
df_Inventory = df_Inventory.merge(DimDescription[['DescriptionID','Description']],left_on='Description', right_on='Description', how='left')
df_Inventory = df_Inventory.merge(DimSize[['SizeID','Size']],left_on='Size', right_on='Size', how='left')

#### Borramos las columnas redundantes

In [63]:
# Elimino las columnas 'City', 'Brand','Description' y 'Size'
df_Inventory=df_Inventory.drop(columns=['City'])
df_Inventory=df_Inventory.drop(columns=['Brand'])
df_Inventory=df_Inventory.drop(columns=['Description'])
df_Inventory=df_Inventory.drop(columns=['Size'])

In [64]:
# Revisamos
df_Inventory.columns

Index(['InventoryId', 'onHand', 'Price', 'InventoryDate', 'StoreID', 'CityID',
       'BrandID', 'DescriptionID', 'SizeID'],
      dtype='object')


#### Reviso que no tenga datos nulos, en caso se encontrar los eliminamos

In [67]:
total_nulos_inventory = df_Inventory.isnull().sum()[df_Inventory.isnull().sum()>0]
print(total_nulos_inventory)

BrandID             93
DescriptionID     8381
SizeID           85945
dtype: int64

In [68]:
df_Inventory.shape

(431018, 9)

In [69]:
print(df_Inventory[df_Inventory['BrandID'].isnull()])

               InventoryId  onHand  Price InventoryDate  StoreID  CityID  \
219762   6_GOULCREST_27276      24   8.99    2016-12-31        6       6
225329   8_ALNERWICK_27276       5   8.99    2016-12-31        8       8
234154    11_CARDEND_27276       2   8.99    2016-12-31       11      10
236042    12_LEESIDE_27276      19   8.99    2016-12-31       12      11
239932   14_BROMWICH_27276      19   8.99    2016-12-31       14      13
...                    ...     ...    ...           ...      ...     ...
418259  76_DONCASTER_27494      10  18.99    2016-12-31       76      62
418301  76_DONCASTER_27764      20  37.99    2016-12-31       76      62
418302  76_DONCASTER_27765       9  34.99    2016-12-31       76      62
418357  76_DONCASTER_27969      23  36.99    2016-12-31       76      62
423217  78_EASTHAVEN_27276      18   8.99    2016-12-31       78      66

        BrandID  DescriptionID  SizeID
219762      NaN            NaN     1.0
225329      NaN            NaN     1.0
234154      NaN            NaN     1.0
236042      NaN            NaN     1.0
239932      NaN            NaN     1.0
...         ...            ...     ...
418259      NaN            NaN     1.0
418301      NaN            NaN     5.0
418302      NaN            NaN     5.0
418357      NaN            NaN     1.0
423217      NaN            NaN     1.0

[93 rows x 9 columns]

In [70]:
print(df_Inventory[df_Inventory['DescriptionID'].isnull()])

                InventoryId  onHand  Price InventoryDate  StoreID  CityID  \
116     1_HARDERSFIELD_1001       0   5.99    2016-01-01        1       1
124     1_HARDERSFIELD_1020       1  24.99    2016-01-01        1       1
128     1_HARDERSFIELD_1024      53  31.99    2016-01-01        1       1
159     1_HARDERSFIELD_1214       5   9.99    2016-01-01        1       1
178     1_HARDERSFIELD_1282       0  25.99    2016-01-01        1       1
...                     ...     ...    ...           ...      ...     ...
430794    81_PEMBROKE_41070      15  12.99    2016-12-31       80      68
430824    81_PEMBROKE_41927      20  14.99    2016-12-31       80      68
430856    81_PEMBROKE_42874      72  16.95    2016-12-31       80      68
430927    81_PEMBROKE_44742      11  42.99    2016-12-31       80      68
430942    81_PEMBROKE_45322      52   8.99    2016-12-31       80      68

        BrandID  DescriptionID  SizeID
116      8855.0            NaN    10.0
124      4550.0            NaN     1.0
128      8869.0            NaN     1.0
159      6879.0            NaN     1.0
178       142.0            NaN     1.0
...         ...            ...     ...
430794   3177.0            NaN     1.0
430824   3207.0            NaN     1.0
430856   3233.0            NaN     1.0
430927   6825.0            NaN     1.0
430942   3296.0            NaN     1.0

[8381 rows x 9 columns]

In [71]:
print(df_Inventory[df_Inventory['SizeID'].isnull()])

               InventoryId  onHand  Price InventoryDate  StoreID  CityID  \
8       1_HARDERSFIELD_115       5  27.99    2016-01-01        1       1
10      1_HARDERSFIELD_126      17  29.99    2016-01-01        1       1
12      1_HARDERSFIELD_171      12  49.99    2016-01-01        1       1
19      1_HARDERSFIELD_254      13  10.99    2016-01-01        1       1
20      1_HARDERSFIELD_261      14  12.99    2016-01-01        1       1
...                    ...     ...    ...           ...      ...     ...
430894   81_PEMBROKE_44038      50  10.99    2016-12-31       80      68
430904   81_PEMBROKE_44208      19  18.99    2016-12-31       80      68
430951   81_PEMBROKE_45535      21  10.99    2016-12-31       80      68
430976   81_PEMBROKE_46202      75   8.95    2016-12-31       80      68
430991   81_PEMBROKE_46568      10   8.99    2016-12-31       80      68

        BrandID  DescriptionID  SizeID
8           8.0            8.0     NaN
10          9.0            9.0     NaN
12         11.0           11.0     NaN
19         20.0           20.0     NaN
20         21.0           21.0     NaN
...         ...            ...     ...
430894   3261.0         2835.0     NaN
430904   3269.0         1871.0     NaN
430951   3303.0         2876.0     NaN
430976   3327.0         2798.0     NaN
430991   3641.0         3194.0     NaN

[85945 rows x 9 columns]

In [72]:
# Borramos las filas que tienen BrandID, DescriptionID y SizeID = NaN
df_Inventory = df_Inventory.dropna(subset=['BrandID'])
df_Inventory = df_Inventory.dropna(subset=['DescriptionID'])
df_Inventory = df_Inventory.dropna(subset=['SizeID'])

In [73]:
# Verificamos nuevamente si quedan nulos
total_nulos_inventory = df_Inventory.isnull().sum()[df_Inventory.isnull().sum()>0]
print(total_nulos_inventory)

Series([], dtype: int64)

In [74]:
# Mostrar el DataFrame actualizado
df_Inventory.shape

(337728, 9)

In [75]:
df_Inventory.columns

Index(['InventoryId', 'onHand', 'Price', 'InventoryDate', 'StoreID', 'CityID',
       'BrandID', 'DescriptionID', 'SizeID'],
      dtype='object')

### Guardamos y volvemos a abrir nuestras tablas Detalle_Brand y df_Inventory

In [76]:
Detalle_Brand.to_csv('Detalle_Brand.csv', index=False)
df_Inventory.to_csv('Fact_Inventory.csv',index=False)

In [77]:
Detalle_Brand= pd.read_csv('Detalle_Brand.csv')
df_Inventory= pd.read_csv('Fact_Inventory.csv')

## Revisamos los tipos de datos de todas nuestras tablas

In [79]:
DimCity.dtypes

City      object
CityID     int64
dtype: object

In [81]:
DimClassification=pd.read_csv('Dim_Class.csv')

In [82]:
DimClassification.dtypes

Classification    int64
ClassID           int64
dtype: object

In [83]:
DimDescription.dtypes

Description      object
DescriptionID     int64
dtype: object

In [84]:
DimSize.dtypes

Size      object
SizeID     int64
dtype: object

In [85]:
DimStore.dtypes

Store      int64
StoreID    int64
CityID     int64
dtype: object

In [87]:
DimVendor=pd.read_csv('Dim_Vendor.csv')

In [88]:
DimVendor.dtypes

VendorNumber     int64
VendorName      object
VendorID         int64
dtype: object

In [89]:
Detalle_Brand.dtypes

Brand              int64
Price            float64
Volume            object
PurchasePrice    float64
BrandID            int64
DescriptionID      int64
SizeID             int64
ClassID            int64
VendorID           int64
dtype: object

In [90]:
df_Inventory.dtypes

InventoryId       object
onHand             int64
Price            float64
InventoryDate     object
StoreID            int64
CityID             int64
BrandID          float64
DescriptionID    float64
SizeID           float64
dtype: object

In [91]:
df_SalesFinal.dtypes

InventoryId       object
SalesQuantity      int64
SalesDollars     float64
SalesPrice       float64
SalesDate         object
Volume             int64
ExciseTax        float64
BrandID            int64
DescriptionID      int64
SizeID           float64
ClassID            int64
VendorID           int64
StoreID            int64
dtype: object

In [92]:
df_PurchasesFinal.dtypes

InventoryId       object
PONumber           int64
PODate            object
ReceivingDate     object
InvoiceDate       object
PayDate           object
PurchasePrice    float64
Quantity           int64
Dollars          float64
BrandID          float64
DescriptionID      int64
SizeID           float64
ClassID            int64
VendorID           int64
StoreID            int64
dtype: object

### Borramos InventoryId porque ya no es clave primaria, por tanto tampoco foranea

In [93]:
# Elimino la columna 'InventoryId'
df_Inventory=df_Inventory.drop(columns=['InventoryId'])
df_SalesFinal=df_SalesFinal.drop(columns=['InventoryId'])
df_PurchasesFinal=df_PurchasesFinal.drop(columns=['InventoryId'])

### Creamos PK a nuestras 3 tablas de hechos Inventory, Purchases y Sales

In [94]:
# Generar PurchaseID en PurchasesFinal
df_PurchasesFinal['PurchaseID'] = df_PurchasesFinal.index + 1

In [95]:
# Generar SalesID en SalesFinal
df_SalesFinal['SalesID'] = df_SalesFinal.index + 1

In [96]:
# Generar InventoryID en df_Inventory
df_Inventory['InventoryID'] = df_Inventory.index + 1

### Revisamos

In [97]:
df_Inventory.dtypes

onHand             int64
Price            float64
InventoryDate     object
StoreID            int64
CityID             int64
BrandID          float64
DescriptionID    float64
SizeID           float64
InventoryID        int64
dtype: object

In [98]:
df_PurchasesFinal.dtypes

PONumber           int64
PODate            object
ReceivingDate     object
InvoiceDate       object
PayDate           object
PurchasePrice    float64
Quantity           int64
Dollars          float64
BrandID          float64
DescriptionID      int64
SizeID           float64
ClassID            int64
VendorID           int64
StoreID            int64
PurchaseID         int64
dtype: object

In [99]:
df_SalesFinal.dtypes

SalesQuantity      int64
SalesDollars     float64
SalesPrice       float64
SalesDate         object
Volume             int64
ExciseTax        float64
BrandID            int64
DescriptionID      int64
SizeID           float64
ClassID            int64
VendorID           int64
StoreID            int64
SalesID            int64
dtype: object

## Cambiar a tipo fecha las columnas de mis dataframes

In [103]:
# Convertir todas las columnas que contienen 'Date' en su nombre a formato de fecha
df_SalesFinal[df_SalesFinal.columns[df_SalesFinal.columns.str.contains('Date')]] = df_SalesFinal[df_SalesFinal.columns[df_SalesFinal.columns.str.contains('Date')]].apply(pd.to_datetime)
df_PurchasesFinal[df_PurchasesFinal.columns[df_PurchasesFinal.columns.str.contains('Date')]] = df_PurchasesFinal[df_PurchasesFinal.columns[df_PurchasesFinal.columns.str.contains('Date')]].apply(pd.to_datetime)
df_Inventory[df_Inventory.columns[df_Inventory.columns.str.contains('Date')]] = df_Inventory[df_Inventory.columns[df_Inventory.columns.str.contains('Date')]].apply(pd.to_datetime)

### Cambiar a tipo entero algunas columnas

In [105]:
# Redondear los valores de las columnas y luego convertir a int64
df_SalesFinal['SizeID'] = df_SalesFinal['SizeID'].round().astype('int64')
df_PurchasesFinal['BrandID'] = df_PurchasesFinal['BrandID'].round().astype('int64')
df_PurchasesFinal['SizeID'] = df_PurchasesFinal['SizeID'].round().astype('int64')
df_Inventory['BrandID'] = df_Inventory['BrandID'].round().astype('int64')
df_Inventory['SizeID'] = df_Inventory['SizeID'].round().astype('int64')

In [109]:
df_Inventory['DescriptionID'] = df_Inventory['DescriptionID'].round().astype('int64')

### REVISAMOS LOS TIPOS DE DATOS DE NUESTRAS TABLAS

In [110]:
df_Inventory.dtypes

onHand                    int64
Price                   float64
InventoryDate    datetime64[ns]
StoreID                   int64
CityID                    int64
BrandID                   int64
DescriptionID             int64
SizeID                    int64
InventoryID               int64
dtype: object

In [111]:
df_SalesFinal.dtypes

SalesQuantity             int64
SalesDollars            float64
SalesPrice              float64
SalesDate        datetime64[ns]
Volume                    int64
ExciseTax               float64
BrandID                   int64
DescriptionID             int64
SizeID                    int64
ClassID                   int64
VendorID                  int64
StoreID                   int64
SalesID                   int64
dtype: object

In [112]:
df_PurchasesFinal.dtypes

PONumber                  int64
PODate           datetime64[ns]
ReceivingDate    datetime64[ns]
InvoiceDate      datetime64[ns]
PayDate          datetime64[ns]
PurchasePrice           float64
Quantity                  int64
Dollars                 float64
BrandID                   int64
DescriptionID             int64
SizeID                    int64
ClassID                   int64
VendorID                  int64
StoreID                   int64
PurchaseID                int64
dtype: object

### GUARDAR TODAS LAS TABLAS ELEGIDAS COMO DIM

In [116]:
DimCity.to_csv('Dim_City.csv',index=False)

In [117]:
DimClassification.to_csv('Dim_Class.csv',index=False)

In [118]:
DimDescription.to_csv('Dim_Descrption.csv',index=False)

In [119]:
DimSize.to_csv('Dim_Size.csv',index=False)

In [120]:
DimStore.to_csv('Dim_Store.csv',index=False)

In [121]:
DimVendor.to_csv('Dim_Vendor.csv',index=False)

### GUARDAR TODAS LAS TABLAS ELEGIDAS COMO HECHOS

In [113]:
df_Inventory.to_csv('Fact_Inventory.csv',index=False)

In [114]:
df_SalesFinal.to_csv('Fact_Sales.csv', index=False)

In [115]:
df_PurchasesFinal.to_csv('Fact_Purchases.csv', index=False)

### Revisamos DimBrand

In [1]:
import pandas as pd

In [2]:
DimBrand= pd.read_csv('Detalle_Brand.csv')

In [3]:
DimBrand.columns

Index(['Brand', 'Price', 'Volume', 'PurchasePrice', 'BrandID', 'DescriptionID',
       'SizeID', 'ClassID', 'VendorID'],
      dtype='object')

In [4]:
# Eliminamos las que no son parte de DimBrand
DimBrand=DimBrand.drop(columns=['Price'])
DimBrand=DimBrand.drop(columns=['Volume'])
DimBrand=DimBrand.drop(columns=['PurchasePrice'])

In [5]:
# Agrupar por 'Brand' y contar los valores únicos de 'Vendor'
df_grouped_DB = DimBrand.groupby('Brand')['VendorID'].nunique().reset_index()

# Filtrar los casos donde hay más de un valor único de 'Vendor'
df_multiple_vendor = df_grouped_DB[df_grouped_DB['VendorID'] > 1]

# Ver cuántos Brand tienen más de un Vendor
count_vendor= df_multiple_vendor.shape[0]

# Mostrar los Brand con más de un Vendor
print(df_multiple_vendor[['Brand', 'VendorID']])

# Mostrar cuántos Brand tienen más de un Vendor
print(f"Number of Brand with more than one unique Vendor: {count_vendor}")

Empty DataFrame
Columns: [Brand, VendorID]
Index: []
Number of Brand with more than one unique Vendor: 0

In [7]:
DimBrand.dtypes

Brand            int64
BrandID          int64
DescriptionID    int64
SizeID           int64
ClassID          int64
VendorID         int64
dtype: object

### Guardamos nuestra DimBrand

In [8]:
DimBrand.to_csv('Dim_Brand.csv', index=False)